flows_MoniconHome.json
[{"id":"78570099.9fa1f","type":"tab","label":"System","disabled":false,"info":""},{"id":"cf7b58b4.e58cb8","type":"tab","label":"Database","disabled":false,"info":""},{"id":"7615d1a5.2a905","type":"tab","label":"Remote","disabled":false,"info":""},{"id":"9ae2b625.ac6868","type":"tab","label":"kWh Queries","disabled":false,"info":""},{"id":"46dd6a52.8b29d4","type":"tab","label":"New Timers","disabled":false,"info":""},{"id":"fc748134.2cddd","type":"tab","label":"Timers_Old","disabled":false,"info":""},{"id":"ce3efe27.df959","type":"tab","label":"OS","disabled":false,"info":""},{"id":"ebcb4cdd.31608","type":"tab","label":"Firmware","disabled":false,"info":""},{"id":"10757f53.aa8881","type":"tab","label":"raspAP Conf","disabled":false,"info":""},{"id":"978acf07.643c1","type":"tab","label":"Google Home","disabled":false,"info":""},{"id":"4cd4461d.373bc8","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"https://us-central1-1.gcp.cloud2.influxdata.com","verifyservercert":true},{"id":"8cababa0.88cda8","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"f58ce46b.f146a8","type":"mqtt-broker","z":"","name":"MQTTCloud","broker":"tailor.cloudmqtt.com","port":"10287","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9b2ee3c4.77f26","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"myHome","name":"","usetls":false,"tls":"4cd4461d.373bc8"},{"id":"8f6423c3.fcc21","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"d1ca4d8b.2f44c","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"20d016fd.dbdf8a","type":"influxdb","z":"","hostname":"10.0.0.59","port":"8086","protocol":"http","database":"powerwall","name":"","usetls":false,"tls":"4cd4461d.373bc8"},{"id":"12328dc7.3f29d2","type":"mqtt-broker","z":"","name":"","broker":"10.3.141.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d388514b.7e355","type":"influxdb","z":"","hostname":"localhost","port":"8886","protocol":"http","database":"MyHome","name":"","usetls":false,"tls":""},{"id":"707e61ff.e7a5f","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"https://us-central1-1.gcp.cloud2.influxdata.com","verifyservercert":true},{"id":"f08f55a.ee1f1a8","type":"influxdb","z":"","hostname":"10.0.0.59","port":"8086","protocol":"http","database":"powerwall","name":"","usetls":false,"tls":""},{"id":"c22ba17b.d714","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"13797544.67796b","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"cf25acf1.d6bef","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"MyHome","name":"","usetls":false,"tls":""},{"id":"b30202d5.6b71d","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"MyHome","name":"","usetls":false,"tls":""},{"id":"37ee7344.73842c","type":"influxdb","z":"","hostname":"sess","port":"8086","protocol":"http","database":"MyHome","name":"","usetls":false,"tls":""},{"id":"b10bc66c.1edf38","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"47efc73c.68f748","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"SESS","name":"","usetls":false,"tls":""},{"id":"34d8a60.393bf5a","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"JC","name":"","usetls":true,"tls":"707e61ff.e7a5f"},{"id":"700a6469.e00c4c","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"f421edcb.a3ce","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f5977338.9d51b","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"83fcf514.ba0aa8","type":"influxdb","z":"","hostname":"10.0.0.59","port":"8086","protocol":"http","database":"powerwall","name":"","usetls":false,"tls":"29cf1ac0.1f7fe6"},{"id":"29cf1ac0.1f7fe6","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"https://us-central1-1.gcp.cloud2.influxdata.com","verifyservercert":true},{"id":"a2ca1a51.8c69b8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d3a201cd.f1fa2","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"c25b6ff.b89d29","type":"inject","z":"cf7b58b4.e58cb8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":80,"wires":[["922e649f.771498"]]},{"id":"2ab590ae.0a42c","type":"inject","z":"cf7b58b4.e58cb8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":160,"wires":[["a5703adc.bc2f68"]]},{"id":"20955e0c.ea40d2","type":"comment","z":"cf7b58b4.e58cb8","name":"RESET DATABASES","info":"","x":160,"y":40,"wires":[]},{"id":"80029914.c4a2b8","type":"comment","z":"cf7b58b4.e58cb8","name":"CREATES DATABASES","info":"","x":150,"y":120,"wires":[]},{"id":"3fd0a464.40d51c","type":"comment","z":"cf7b58b4.e58cb8","name":"DATABASE DATA","info":"","x":170,"y":220,"wires":[]},{"id":"c9e30c07.3d6d4","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/STAT/LT/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":190,"y":120,"wires":[["7944bcee.898b04"]]},{"id":"9e427524.607fc8","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/CMD/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":200,"y":500,"wires":[[]]},{"id":"909fe18e.ecc6d","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/STAT/RELAY/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":180,"y":180,"wires":[["7944bcee.898b04"]]},{"id":"34964475.6318dc","type":"mqtt out","z":"7615d1a5.2a905","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":550,"y":500,"wires":[]},{"id":"1b6d677f.adb3a9","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/Device/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":190,"y":240,"wires":[["7944bcee.898b04"]]},{"id":"8c6e6347.9e41","type":"comment","z":"7615d1a5.2a905","name":"MQTTCloud => MONICON.LOCAL","info":"","x":160,"y":460,"wires":[]},{"id":"98c1221f.ec19e","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/STAT/GetTimers/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":160,"y":300,"wires":[["7944bcee.898b04"]]},{"id":"9fc8df17.2f5f9","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/kWh/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":200,"y":340,"wires":[["7944bcee.898b04"]]},{"id":"c7e1fadd.b5bd98","type":"function","z":"cf7b58b4.e58cb8","name":"New","func":"var output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nif (output[3].includes(\"Light\") || (output[3].includes(\"Power\"))) {\n\n    // Lighting\n    if (output.length > 4) {\n        if (output[3].includes(\"Light\")) {\n            output[4] = output[4].replace(/\\s+/g, '_')\n            output[4] = output[4].concat(\".Lt\")\n    \t} else if (output[3].includes(\"Power\")) {\n    \t\toutput[4] = output[4].replace(/\\s+/g, '_')\n    \t\toutput[4] = output[4].concat(\".Pwr\")\n    \t}\n    }\n    \n    output[1] = (output[1] / 1000).toFixed(2);\n    \n    structureObject();\n    \n    return msg;\n\n} else {\n    return\n}\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'MONICON Home',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Energy',\n\n\t\t\ttags:{\n\t\t\t\t[output[4]]: msg.topic\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tVoltage: parseFloat(output[0]),\n\t\t\t\tCurrent: parseFloat(output[1]),\n\t\t\t\tKilowatts: parseFloat(output[2])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\n\t\t{ measurement: \"kWh\", fields: { [msg.topic]: parseFloat(output[6]) || 0.0 }, tags:{ name: [output[3].substring(0, output[3].indexOf('V'))] } }\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":260,"wires":[[]]},{"id":"79e42485.35be8c","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"MONICON/STAT/Query/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":190,"y":400,"wires":[["7944bcee.898b04"]]},{"id":"62254bb6.e2c234","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"MONICON/CMD/#","qos":"2","datatype":"auto","broker":"f58ce46b.f146a8","x":210,"y":560,"wires":[["34964475.6318dc"]]},{"id":"297bb4c5.85e68c","type":"exec","z":"7615d1a5.2a905","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MAC Addr","x":570,"y":120,"wires":[["273e68e3.d8f388"],[],[]]},{"id":"273e68e3.d8f388","type":"function","z":"7615d1a5.2a905","name":"","func":"var macAddr = msg.payload.replace(/\\W/g,\"\");\nflow.set(\"macAddr\", macAddr);\nmsg.payload = msg.data;\nmsg.topic = macAddr.concat(\"/\" + msg.topic);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":120,"wires":[["f8f0ed27.33601"]]},{"id":"7944bcee.898b04","type":"function","z":"7615d1a5.2a905","name":"","func":"var macAddr = flow.get(\"macAddr\") || \"\";\n\nif (macAddr === \"\") {\n    msg.data = msg.payload;\n    return [msg, null];\n} else {\n    msg.topic = macAddr.concat(\"/\" + msg.topic);\n    return [null, msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":410,"y":140,"wires":[["297bb4c5.85e68c"],["e2d482ce.80de5"]]},{"id":"4f585822.f5edb8","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"MONICON/CMD/macAddr/","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":180,"y":60,"wires":[["16730441.c9841c"]]},{"id":"16730441.c9841c","type":"exec","z":"7615d1a5.2a905","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MAC Addr","x":570,"y":60,"wires":[["7d15f448.fff37c"],[],[]]},{"id":"7d15f448.fff37c","type":"function","z":"7615d1a5.2a905","name":"","func":"var macAddr = msg.payload.replace(/\\W/g,\"\");\nflow.set(\"macAddr\", macAddr);\nmsg.payload = macAddr;\nmsg.topic = \"MONICON/STAT/macAddr/\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":60,"wires":[["f8f0ed27.33601"]]},{"id":"f8f0ed27.33601","type":"mqtt out","z":"7615d1a5.2a905","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":870,"y":60,"wires":[]},{"id":"e2d482ce.80de5","type":"mqtt out","z":"7615d1a5.2a905","name":"","topic":"","qos":"","retain":"","broker":"f58ce46b.f146a8","x":550,"y":180,"wires":[]},{"id":"d956f387.0bcb9","type":"function","z":"cf7b58b4.e58cb8","name":"Old","func":"var output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nif (output[3].includes(\"Light\") || (output[3].includes(\"Power\"))) {\n\n    if (output.length > 4) {\n        if (output[3].includes(\"Light\")) {\n            output[4] = output[4].replace(/\\s+/g, '_')\n            output[4] = output[4].concat(\".Lt\")\n            \n                    msg.payload = [\n        {\n            measurement: \"Energy\",\n            fields: {\n                Voltage: parseFloat(output[0]),\n                Current: parseFloat(output[1]) / 1000,\n                Kilowatts: parseFloat(output[2])\n            },\n            tags:{\n                [output[4]]: msg.topic\n            }\n        }, { measurement: \"kWh\", fields: { [msg.topic]: parseFloat(output[6]) || 0.0 }, tags:{ name: [output[3].substring(0, output[3].indexOf('V'))] } }\n    ];\n        } \n        else if (output[3].includes(\"Power\")) {\n            output[4] = output[4].replace(/\\s+/g, '_')\n            output[4] = output[4].concat(\".Pwr\")\n            \n                msg.payload = [\n        {\n            measurement: \"Energy\",\n            fields: {\n                Voltage: parseFloat(output[0]),\n                Current: parseFloat(output[1]) / 1000,\n                Kilowatts: parseFloat(output[2])\n            },\n            tags:{\n                [output[4]]: msg.topic\n            }\n        }, { measurement: \"kWh\", fields: { [msg.topic]: parseFloat(output[6]) || 0.0 }, tags:{ name: [output[3].substring(0, output[3].indexOf('V'))] } }\n    ];\n        } \n    \n    } else {\n            msg.payload = [\n        {\n            measurement: \"Energy\",\n            fields: {\n                Voltage: parseFloat(output[0]),\n                Current: parseFloat(output[1]),\n                Kilowatts: parseFloat(output[2])\n            },\n            tags:{\n                topic: msg.topic\n            }\n        }, { measurement: \"kWh\", fields: { [msg.topic]: parseFloat(output[6]) || 0.0 }, tags:{ name: [output[3].substring(0, output[3].indexOf('V'))] } }\n    ];\n    }\n    \n    return msg;\n\n} else {\n    return\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":220,"wires":[["84c45fd0.15ebc"]]},{"id":"84c45fd0.15ebc","type":"influxdb batch","z":"cf7b58b4.e58cb8","influxdb":"9b2ee3c4.77f26","precision":"","retentionPolicy":"","name":"","x":1100,"y":220,"wires":[]},{"id":"922e649f.771498","type":"influxdb in","z":"cf7b58b4.e58cb8","influxdb":"9b2ee3c4.77f26","name":"","query":"DROP DATABASE myHome","rawOutput":false,"precision":"","retentionPolicy":"","x":650,"y":80,"wires":[["82bdd1bc.7ff3e"]]},{"id":"a5703adc.bc2f68","type":"influxdb in","z":"cf7b58b4.e58cb8","influxdb":"9b2ee3c4.77f26","name":"","query":"CREATE DATABASE myHome","rawOutput":false,"precision":"","retentionPolicy":"","x":660,"y":160,"wires":[["82bdd1bc.7ff3e"]]},{"id":"4a8b9dea.453004","type":"string","z":"cf7b58b4.e58cb8","name":"","methods":[{"name":"getRightMost","params":[{"type":"str","value":"ProPower-ESP/Device/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":490,"y":260,"wires":[["c7e1fadd.b5bd98","d956f387.0bcb9"]]},{"id":"cb099800.ffef18","type":"Stackhero-InfluxDB-v2-write","z":"cf7b58b4.e58cb8","server":"d1ca4d8b.2f44c","name":"","x":1110,"y":260,"wires":[[]]},{"id":"6030a295.830a6c","type":"mqtt in","z":"cf7b58b4.e58cb8","name":"","topic":"ProPower-ESP/Device/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":150,"y":260,"wires":[["4a8b9dea.453004","14f14f6f.629ff9"]]},{"id":"f11e57b6.116b68","type":"file in","z":"ebcb4cdd.31608","name":"","filename":"","format":"","sendError":true,"x":1050,"y":40,"wires":[["91dc0f6b.4313c"]]},{"id":"a4448c6b.301f3","type":"switch","z":"ebcb4cdd.31608","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP8266-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":40,"wires":[[],["96857d90.12bb7"]]},{"id":"aa6c43fe.c2f9","type":"http in","z":"ebcb4cdd.31608","name":"OTA Request","url":"/firmwareUpdate","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["a4448c6b.301f3"]]},{"id":"8eda2902.56e928","type":"debug","z":"ebcb4cdd.31608","name":"msg.mostRecentFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mostRecentFile","x":1100,"y":180,"wires":[]},{"id":"91dc0f6b.4313c","type":"http response","z":"ebcb4cdd.31608","name":"OTA Response","statusCode":"","headers":{},"x":1220,"y":40,"wires":[]},{"id":"a6e18d74.2867e","type":"function","z":"ebcb4cdd.31608","name":"","func":"///// \n//List of files from RPI Github\nvar firmwares = msg.files;\n//TRUC_VERSION DATA from ESP\nvar version = msg.req.headers;\n//Version Data\nvar currentFile = version[\"x-esp8266-version\"];\n//Extract Device Type PowerPro or LightPro\nvar deviceType = currentFile.substring(0,currentFile.indexOf(\"V\")+1)\nmsg.deviceType = deviceType;\n\n//Extracts Github file that matches current ESP version ID\nvar existingFile = firmwares.filter(item=> item.includes(currentFile)).pop();\n//Filters out any incorrect device types ie PowerPro or LightPro\nvar firmwareNames = firmwares.filter(item=> item.includes(msg.deviceType));\n//Sorts out list of files\nvar comparer = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});\nfirmwareNames.sort(comparer.compare)[firmwareNames.length-1]\n\nvar mostRecentFile;\n//Pops off most recent file\nmsg.mostRecentFile = firmwareNames.pop();\nmsg.existingFile = existingFile;\n//Compares ESP version to most recent developed file\n//if((msg.existingFile.localeCompare(msg.mostRecentFile)) < 0)\n//{\n    msg.filename = \"/home/pi/FirmwareEsp8266/\" + msg.mostRecentFile;\n//}\n//else\n//{\n//    msg.filename = undefined;\n//}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":40,"wires":[["8eda2902.56e928","53f110ca.4521b","5de1e152.842b","4963283.3ac71d8","f88fbb1b.3abd58","f11e57b6.116b68","f2e7e21e.09438"]]},{"id":"53f110ca.4521b","type":"debug","z":"ebcb4cdd.31608","name":"msg.filename","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":1070,"y":220,"wires":[]},{"id":"5de1e152.842b","type":"debug","z":"ebcb4cdd.31608","name":"msg.req.headers.x-esp8266-version","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.headers.x-esp8266-version","x":1150,"y":260,"wires":[]},{"id":"4963283.3ac71d8","type":"debug","z":"ebcb4cdd.31608","name":"msg.existingFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"existingFile","x":1080,"y":140,"wires":[]},{"id":"f88fbb1b.3abd58","type":"debug","z":"ebcb4cdd.31608","name":"msg.payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":100,"wires":[]},{"id":"f2e7e21e.09438","type":"debug","z":"ebcb4cdd.31608","name":"msg.deviceType","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"deviceType","x":1080,"y":300,"wires":[]},{"id":"7a3090e1.37694","type":"exec","z":"ebcb4cdd.31608","command":"sudo rm /home/pi/FirmwareEsp8266 -r","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":620,"wires":[["65cb9fda.d387"],[],[]]},{"id":"65cb9fda.d387","type":"exec","z":"ebcb4cdd.31608","command":" sudo git clone https://github.com/jimmy232/FirmwareEsp8266.git","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":620,"wires":[[],[],[]]},{"id":"9c68a107.8adb1","type":"inject","z":"ebcb4cdd.31608","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":620,"wires":[["7a3090e1.37694"]]},{"id":"cd395469.66f328","type":"debug","z":"ebcb4cdd.31608","name":"msg.existingFile","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"files","x":1080,"y":340,"wires":[]},{"id":"96857d90.12bb7","type":"fs-ops-dir","z":"ebcb4cdd.31608","name":"","path":"/home/pi/FirmwareEsp8266","pathType":"str","filter":".bin","filterType":"str","dir":"files","dirType":"msg","x":640,"y":40,"wires":[["a6e18d74.2867e","cd395469.66f328"]]},{"id":"82bdd1bc.7ff3e","type":"influxdb batch","z":"cf7b58b4.e58cb8","influxdb":"9b2ee3c4.77f26","precision":"","retentionPolicy":"","name":"","x":1090,"y":120,"wires":[]},{"id":"ee665625.d18ec8","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/SSID_Change/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":270,"y":140,"wires":[["21712085.17221"]]},{"id":"446f7d5e.165214","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/SSID_Req/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":260,"y":260,"wires":[["b9c83069.ecf41"]]},{"id":"cf0750ca.4d55f","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/Pwd_Change/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":260,"y":80,"wires":[["e4306af9.2e3c58"]]},{"id":"ac6a084e.5856a8","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/Pwd_Req/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":250,"y":200,"wires":[["48e4c42a.f07c2c"]]},{"id":"21712085.17221","type":"function","z":"10757f53.aa8881","name":"Set SSID","func":"//topics[3] = ClientID\n\nvar topics = msg.topic.split('/');\n\n// Save SSID\nflow.set(\"SSID\", msg.payload);\n\n// Send Confirmation\nmsg.topic = \"ProPower-ESP/STAT/RouterUpdated/Alert/\" + topics[3];\nmsg.payload = \"Router SSID Updated.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[[]]},{"id":"b9c83069.ecf41","type":"function","z":"10757f53.aa8881","name":"Get SSID","func":"msg.payload = flow.get(\"SSID\") || \"null\";\nmsg.topic = msg.topic.replace(\"SSID_Req\", \"SSID_Send\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":260,"wires":[["31b17dee.220ff2"]]},{"id":"e4306af9.2e3c58","type":"function","z":"10757f53.aa8881","name":"Set Pwd","func":"//topics[3] = ClientID\n\nvar topics = msg.topic.split('/');\n\n// Save Password\nflow.set(\"Pwd\", msg.payload);\n\n// Send Confirmation\nmsg.topic = \"ProPower-ESP/STAT/RouterUpdated/Alert/\" + topics[3];\nmsg.payload = \"Router Details Updated.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":80,"wires":[["31b17dee.220ff2"]]},{"id":"48e4c42a.f07c2c","type":"function","z":"10757f53.aa8881","name":"Get Pwd","func":"msg.payload = flow.get(\"Pwd\") || \"null\";\nmsg.topic = msg.topic.replace(\"Pwd_Req\", \"Pwd_Send\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":200,"wires":[["31b17dee.220ff2"]]},{"id":"31b17dee.220ff2","type":"mqtt out","z":"10757f53.aa8881","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":1030,"y":160,"wires":[]},{"id":"e78c3f88.ff006","type":"inject","z":"10757f53.aa8881","name":"SSID_Req","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ProPower-ESP/CMD/SSID_Req/216218","payload":"*","payloadType":"str","x":200,"y":340,"wires":[["880864fc.0c6058"]]},{"id":"880864fc.0c6058","type":"mqtt out","z":"10757f53.aa8881","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":1030,"y":340,"wires":[]},{"id":"1bd936e9.9edbb9","type":"inject","z":"10757f53.aa8881","name":"Pwd_Req","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ProPower-ESP/CMD/Pwd_Req/216218","payload":"*","payloadType":"str","x":200,"y":380,"wires":[["880864fc.0c6058"]]},{"id":"a7c22c68.7eacf","type":"inject","z":"10757f53.aa8881","name":"SSID_Change","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ProPower-ESP/CMD/SSID_Change/216218","payload":"LABORATORY","payloadType":"str","x":210,"y":420,"wires":[["880864fc.0c6058"]]},{"id":"4679c5f5.7e88dc","type":"inject","z":"10757f53.aa8881","name":"Pwd_Change","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ProPower-ESP/CMD/Pwd_Change/216218","payload":"bullshit232","payloadType":"str","x":210,"y":460,"wires":[["880864fc.0c6058"]]},{"id":"b6ad4715.687c78","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/SSID_Default_Change/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":290,"y":560,"wires":[["2cc2aa7e.1037f6"]]},{"id":"1a3d7de6.13c372","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/Pwd_Default_Change/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":290,"y":620,"wires":[["147f4931.958737"]]},{"id":"b2b4783c.957488","type":"exec","z":"10757f53.aa8881","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"raspAP SSID","x":850,"y":560,"wires":[["6d2a5fe4.d438d8"],[],[]]},{"id":"a0e8a611.230698","type":"exec","z":"10757f53.aa8881","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"raspAP passsword","x":870,"y":620,"wires":[["bf212e65.846248"],[],[]]},{"id":"2cc2aa7e.1037f6","type":"function","z":"10757f53.aa8881","name":"raspAP SSID Change","func":"// Replace line 7 with new ssid=xxx\nvar data = \"sudo sed -i '7s/.*/ssid=\" + msg.payload + \"/' /etc/hostapd/hostapd.conf\";\n\n// Assign command to payload\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":560,"wires":[["b2b4783c.957488"]]},{"id":"147f4931.958737","type":"function","z":"10757f53.aa8881","name":"raspAP Password Change","func":"// Replace line 11 with new password=xxx\nvar data = \"sudo sed -i '11s/.*/wpa_passphrase=\" + msg.payload + \"/' /etc/hostapd/hostapd.conf\";\n\n// Assign command to payload\nmsg.payload = data;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":620,"wires":[["a0e8a611.230698"]]},{"id":"e9509bff.e8f258","type":"comment","z":"10757f53.aa8881","name":"User SSID & Password Update","info":"","x":250,"y":40,"wires":[]},{"id":"1920d1b7.39a2ae","type":"comment","z":"10757f53.aa8881","name":"raspAP SSID & Password Update","info":"","x":250,"y":520,"wires":[]},{"id":"be10f8d6.67f7d8","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/Reboot/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":250,"y":680,"wires":[["bb9e61a2.077df"]]},{"id":"39618a8e.959f96","type":"exec","z":"10757f53.aa8881","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Server Reboot","x":860,"y":680,"wires":[[],[],[]]},{"id":"bb9e61a2.077df","type":"function","z":"10757f53.aa8881","name":"Server Reboot","func":"// Reboot Server\nvar data = \"sudo reboot\";\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":680,"wires":[["39618a8e.959f96"]]},{"id":"14f14f6f.629ff9","type":"debug","z":"cf7b58b4.e58cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"3ac2629f.22f816","type":"exec","z":"10757f53.aa8881","command":"sudo /etc/raspap/hostapd/servicestart.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Restart raspAP Server","x":1320,"y":620,"wires":[[],[],[]]},{"id":"6d2a5fe4.d438d8","type":"function","z":"10757f53.aa8881","name":"Msg Update","func":"//topics[3] = ClientID\nvar topics = msg.topic.split('/');\n\n// Send Confirmation\nmsg.payload = \"Default SSID Updated!\";\nmsg.topic = \"ProPower-ESP/STAT/RouterUpdated/Notify/\" + topics[3];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":560,"wires":[["3ac2629f.22f816","dcca84dd.020048"]]},{"id":"dcca84dd.020048","type":"mqtt out","z":"10757f53.aa8881","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":1270,"y":560,"wires":[]},{"id":"bf212e65.846248","type":"function","z":"10757f53.aa8881","name":"Msg Update","func":"//topics[3] = ClientID\nvar topics = msg.topic.split('/');\n\n// Send Confirmation\nvar msg1 = {payload: \"Default Password Updated!\", topic: \"ProPower-ESP/STAT/RouterUpdated/Notify/\" + topics[3]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":620,"wires":[["3ac2629f.22f816","dcca84dd.020048"]]},{"id":"d98678ee.a4e898","type":"function","z":"46dd6a52.8b29d4","name":"Check Timers","func":"/////////////// Splict message into an array ///////////////\n//var data = msg.payload.split(\",\");\n//data[0] = id\n//data[1] = sw\n//data[2] = type\n//data[3] = index\n//data[4] = action\n//data[5] = milliseconds(onTime)\n//data[6] = milliseconds(offTime)\n//data[7] = repeat\n//data[8] = enable\n//data[9] = RoomName/SwitchName\n\nvar timerArray = flow.get(\"timers\") || null\n\nif (timerArray === null) {\n    return\n}\n\nif (Object.keys(timerArray).length === 0) {\n    return\n}\n\nvar currentTime = new Date().getTime();\n\n/////////////// Action Manifold ///////////////\nfor (let [key, value] of Object.entries(timerArray.id)) {\n    let serial = key;\n    \n    // msg.payload = key;\n    // node.send(msg);\n    \n    for (let [key, value] of Object.entries(timerArray.id[serial].index)) {\n\n        actionSelection(value, serial);\n        \n        // msg.payload = value;\n        // node.send(msg);\n    }\n}\n\nfunction actionSelection(value, serial) {\n    if (value.action == \"ON/OFF\" ) {\n        timerList(value, serial);\n    } \n    else if (value.action == \"ON\") {\n    }\n    else if (value.action == \"OFF\" ) {\n        \n    }\n}\n\nfunction timerList(value, serial) {\n    \n    if(value.type == \"LightPro\") {\n        if(value.sw == \"sw1\") {\n            msg.topic = \"ProPower-ESP/CMD/LTA/\" + serial; \n        } else {\n            msg.topic = \"ProPower-ESP/CMD/LTB/\" + serial; \n        }\n    } else {\n        msg.topic = \"ProPower-ESP/CMD/RELAY/\" + serial;\n    }\n\n    if (value.on.trig == \"1\" && checkTime(value.on.time)) {\n        if (value.repeat == \"1\") {\n            value.on.trig = \"1\";\n            value.on.time = DateCalculator(value.on.time); // Add 60 seconds\n            value.on.seconds = String(new Date(value.on.time).getTime());\n            msg.date = value.on.time;\n        } else {\n            value.on.trig = \"0\";\n        }\n        msg.id = value.id;\n        msg.name = value.name;\n        msg.payload = 1;\n        \n        flow.set(\"timers\", timerArray);\n        node.send(msg);\n    } \n    if (value.off.trig == \"1\" && checkTime(value.off.time)) {\n        if (value.repeat == \"1\") {\n            value.off.trig = \"1\";\n            value.off.time = DateCalculator(value.off.time); // Add 60 seconds\n            value.off.seconds = String(new Date(value.off.time).getTime());\n            msg.date = value.off.time;\n        } else {\n            value.on.trig = \"0\";\n        }\n        msg.id = value.id;\n        msg.name = value.name;\n        msg.payload = 0;\n\n        flow.set(\"timers\", timerArray);\n        node.send(msg);\n    } \n}\n\nfunction DateCalculator(time) {\n    //msg.payload = time\n    //return msg\n    var thisTime = new Date(time);\n    \n    thisTime.setHours(thisTime.getHours());\n    thisTime.setMinutes(thisTime.getMinutes());\n    thisTime.setSeconds(0);\n\n    //thisTime.setDate(new Date().getDate() + 1);\n    thisTime.setDate(new Date().getDate())\n    thisTime.setMonth(new Date().getMonth());\n    thisTime.setFullYear(new Date().getFullYear());\n    \n    var milliSeconds = thisTime.getTime() + 86400000;\n    \n    thisTime = new Date(milliSeconds);\n    \n    return thisTime;\n}\n\nfunction checkTime(time) {\n    if (new Date(time).getTime() < new Date().getTime()) {\n        return true\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":180,"wires":[["314491f6.8964fe"]]},{"id":"70e7fcbb.1016f4","type":"inject","z":"46dd6a52.8b29d4","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":250,"y":180,"wires":[["d98678ee.a4e898"]]},{"id":"63811996.5e11b8","type":"comment","z":"46dd6a52.8b29d4","name":"Check Existing Alarms","info":"","x":200,"y":140,"wires":[]},{"id":"592f9895.39b888","type":"function","z":"46dd6a52.8b29d4","name":"Create","func":"/////////////// Splict message into an array ///////////////\nvar data = msg.payload.split(\",\");\n// var data = [];\n// data[0] = \"9020802\"                     //id\n// data[1] = \"sw1\"                         //sw\n// data[2] = \"LightPro\"                    //type\n// data[3] = \"0\"                           //index\n// data[4] = \"On/Off\"                      //action\n// data[5] = \"2020/04/16 19:30\"            //milliseconds(onTime)\n// data[6] = \"2020/04/16 19:32\"            //milliseconds(offTime)\n// data[7] = \"1\"                           //repeat\n// data[8] = \"1\"                           //enable\n// data[9] = \"Master Bedroom/Light\"        //RoomName/SwitchName\n\nlet t1 = new Date(new Date(parseInt(data[5])));\nlet t2 = new Date(new Date(parseInt(data[6])));\n\n// let t1 = new Date(new Date().getTime() + 300000);\n// let t2 = new Date(new Date().getTime() + 30000);\n\nvar timer = flow.get(\"timers.id[\\\"\" + data[0] + \"\\\"].index[\\\"\" + data[3] + \"\\\"]\") || { id: data[0], sw: data[1], type: data[2], index: data[3], action: data[4], on:{trig:data[8], time: t1, seconds: data[6] }, off:{trig:data[8], time: t2, seconds: data[5] }, repeat: data[7], state: data[8], name: data[9] } ; \n\ntimer = { id: data[0], sw: data[1], type: data[2], index: data[3], action: data[4], on:{trig:data[8], time: t1, seconds: data[5] }, off:{trig:data[8], time: t2, seconds: data[6] }, repeat: data[7], state: data[8], name: data[9] } ; \n\nflow.set(\"timers.id[\\\"\" + data[0] + \"\\\"].index[\\\"\" + data[3] + \"\\\"]\", timer);\n","outputs":1,"noerr":0,"x":550,"y":240,"wires":[[]]},{"id":"27cec23b.98ee2e","type":"function","z":"46dd6a52.8b29d4","name":"Delete","func":"/////////////// Splict message into an array ///////////////\nvar data = msg.payload.split(\",\");\nlet id = String(data[0])\nlet sw = data[1]\nlet index = String(data[2])\n\n/////////////// Get Timers ///////////////\nvar timer = flow.get(\"timers\");\n\n/////////////// Get Timer Object ///////////////\ndelete timer.id[id].index[index]\n\n/////////////// Set Timers ///////////////\nflow.set(\"timers\", timer);\n","outputs":1,"noerr":0,"x":550,"y":300,"wires":[[]]},{"id":"61cce23e.f942ec","type":"function","z":"46dd6a52.8b29d4","name":"","func":"/////////////// Get Timers ///////////////\nvar timer = flow.get(\"timers\") ;\n\n/////////////// Get Timer Object ///////////////\nvar obj = timer.id[msg.payload];\nmsg.topic = \"ProPower-ESP/STAT/GetTimers/\" + msg.payload;\n\n/////////////// If Object doesn't exist, send empty object ///////////////\n// if(obj === undefined) {\n//     msg = {payload: {  }, topic: msg.topic};\n//     msg.topic = \"\"\n//     return ;\n// }\n// /////////////// Send Timer Object ///////////////\n// else {\n    var msg1 = { payload: obj, topic: msg.topic };\n\n    return msg1;\n// }","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["c2716448.eb2c58"]]},{"id":"9fdc81b4.1d28d","type":"mqtt in","z":"46dd6a52.8b29d4","name":"","topic":"ProPower-ESP/CMD/setTimer/","qos":"2","datatype":"auto","broker":"f421edcb.a3ce","x":170,"y":240,"wires":[["592f9895.39b888"]]},{"id":"54452155.5636c","type":"mqtt out","z":"46dd6a52.8b29d4","name":"","topic":"","qos":"","retain":"","broker":"f421edcb.a3ce","x":1070,"y":180,"wires":[]},{"id":"314491f6.8964fe","type":"function","z":"46dd6a52.8b29d4","name":"Return Timers","func":"if(msg.payload === 1 || msg.payload === 0) {\n    // Update iOS device timer list\nvar msg1 = { payload: msg.id, topic: \"ProPower-ESP/CMD/GetTimers/\" };\n    // Send Notification to user\nvar msg2 = { payload: msg.id + \",MONICON,\" + msg.name + \",\" + msg.payload, topic: \"ProPower-ESP/STAT/Timers/Alert/\" };\n    // Send Command to Monicon device\nvar msg3 = { payload: msg.payload, topic: msg.topic };\n\nreturn [msg1, msg2, msg3, msg]\n\n}\n\nreturn","outputs":4,"noerr":0,"x":800,"y":180,"wires":[["54452155.5636c"],["54452155.5636c"],["54452155.5636c"],[]]},{"id":"4273f24f.a26ccc","type":"mqtt in","z":"46dd6a52.8b29d4","name":"","topic":"ProPower-ESP/CMD/DeleteTimer/","qos":"2","datatype":"auto","broker":"f421edcb.a3ce","x":160,"y":300,"wires":[["27cec23b.98ee2e"]]},{"id":"16064ccb.4c27a3","type":"mqtt in","z":"46dd6a52.8b29d4","name":"","topic":"ProPower-ESP/CMD/GetTimers/","qos":"2","datatype":"auto","broker":"f421edcb.a3ce","x":170,"y":360,"wires":[["f0219548.b7e248"]]},{"id":"f0219548.b7e248","type":"delay","z":"46dd6a52.8b29d4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":360,"wires":[["61cce23e.f942ec"]]},{"id":"c2716448.eb2c58","type":"json","z":"46dd6a52.8b29d4","name":"","property":"payload","action":"str","pretty":false,"x":790,"y":360,"wires":[["ec7a4dbc.68d0f"]]},{"id":"ec7a4dbc.68d0f","type":"mqtt out","z":"46dd6a52.8b29d4","name":"","topic":"","qos":"","retain":"","broker":"f421edcb.a3ce","x":1070,"y":360,"wires":[]},{"id":"7f57eea3.3a48e","type":"inject","z":"46dd6a52.8b29d4","name":"Trigger","repeat":"3000","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"str","x":240,"y":80,"wires":[["cf826986.f17e58"]]},{"id":"2d57077d.c884c8","type":"comment","z":"46dd6a52.8b29d4","name":"kWh Schedule","info":"","x":230,"y":40,"wires":[]},{"id":"21b5e8e8.489a78","type":"mqtt out","z":"46dd6a52.8b29d4","name":"","topic":"ProPower-ESP/CMD/ResetKWH_Meter/","qos":"","retain":"","broker":"f421edcb.a3ce","x":1180,"y":80,"wires":[]},{"id":"cf826986.f17e58","type":"function","z":"46dd6a52.8b29d4","name":"Reset Daily kWh Meter","func":"var one = false;\nvar two = false;\nvar three = false;\nvar four = false;\nmsg1 = {payload: \"Daily\"}\nmsg2 = {payload: \"Weekly\"}\nmsg3 = {payload: \"Monthly\"}\nmsg4 = {payload: \"Quarterly\"}\n \n var hour = new Date().getHours();\n //hour = hour.setHours(hour.getHours() + 12);\n //hour = new Date(hour);\n //hour = hour.getHours();\n// 0 == Sunday\n var weekNumber = new Date().getDay();\n var dayOfMonth = new Date().getDate() - 1;\n msg.payload = dayOfMonth;\n// 0 == January\n var month = new Date().getMonth();\n// msg.payload = month;\n// return msg;\n\nif (hour === 0) {\n    one = true;\n}\n\nif (one) {\n    return [msg1];\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["21b5e8e8.489a78"]]},{"id":"4fb40143.b83a1","type":"inject","z":"46dd6a52.8b29d4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":560,"wires":[["e210acc4.6af76"]]},{"id":"e210acc4.6af76","type":"function","z":"46dd6a52.8b29d4","name":"","func":"var msg2 = { payload: \"9020802\" + \",MONICON,\" + \"Master Bedroom/Light\" + \",\" + 1, topic: \"ProPower-ESP/STAT/Timers/Alert/\" };\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":560,"wires":[["e0b4069a.4147d8"]]},{"id":"e0b4069a.4147d8","type":"mqtt out","z":"46dd6a52.8b29d4","name":"","topic":"","qos":"","retain":"","broker":"f421edcb.a3ce","x":990,"y":560,"wires":[]},{"id":"8cf19f1d.1d76b","type":"comment","z":"46dd6a52.8b29d4","name":"Test Alert","info":"","x":240,"y":520,"wires":[]},{"id":"5dafb464.76880c","type":"function","z":"46dd6a52.8b29d4","name":"Get Timers","func":"/////////////// Get Timers ///////////////\nvar timer = flow.get(\"timers\");\n\nmsg.payload = timer;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":620,"wires":[["ce2a8bd0.17d598"]]},{"id":"74762b4a.dc5ae4","type":"inject","z":"46dd6a52.8b29d4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":620,"wires":[["5dafb464.76880c"]]},{"id":"ce2a8bd0.17d598","type":"debug","z":"46dd6a52.8b29d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":620,"wires":[]},{"id":"6ffe138c.2b544c","type":"inject","z":"fc748134.2cddd","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Off","payloadType":"str","x":110,"y":100,"wires":[["d351fb91.ff25e8"]]},{"id":"c887eb1d.a4fa68","type":"comment","z":"fc748134.2cddd","name":"Hot Water System 11:00-15:30","info":"","x":170,"y":40,"wires":[]},{"id":"96313862.faf5b8","type":"mqtt out","z":"fc748134.2cddd","name":"Hotwater Relay 5806383","topic":"ProPower-ESP/CMD/RELAY/3296116","qos":"","retain":"","broker":"f5977338.9d51b","x":1010,"y":140,"wires":[]},{"id":"d1e6891e.cf03a8","type":"function","z":"fc748134.2cddd","name":"","func":"var run = flow.get('runHWS');\nvar counter = flow.get('counts')||0;\nif (run === undefined)\n{\n    run = true;\n    flow.set('runHWS', true);\n}\nif(run === false){\n    counter++;\n    flow.set('counts', counter);\n    msg.payload = 0;\n    msg.counter = counter;\n    msg.run = flow.get('runHWS');\n    flow.set('runHWS', false);\n    \n    if(counter >= 10)\n    {\n        flow.set('runHWS', true);\n        flow.set('counts', 0);\n        msg.payload = 1;\n    }\n    return msg;\n}\n\nif(msg.payload[0].last >= 30){\n    msg.payload = 0;\n    run = false;\n    flow.set(\"runHWS\", false);\n    msg.counter = counter;\n    msg.run = run;\n    return msg;\n}\nelse if(run === true)\n{\n    msg.payload = 1;\n    msg.counter = counter;\n    msg.run = run;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":200,"wires":[["d8fd6562.b35148"]]},{"id":"c5440d05.61fb3","type":"switch","z":"fc748134.2cddd","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":180,"wires":[["d7817b86.706a78"],["6b4203d.7e1d8fc"]]},{"id":"d7817b86.706a78","type":"change","z":"fc748134.2cddd","name":"Charge","rules":[{"t":"set","p":"topic","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["96313862.faf5b8"]]},{"id":"d8fd6562.b35148","type":"mqtt out","z":"fc748134.2cddd","name":"Hotwater Relay 5806383","topic":"ProPower-ESP/CMD/RELAY/3296116","qos":"","retain":"","broker":"f5977338.9d51b","x":1010,"y":200,"wires":[]},{"id":"5faa91a.fa0c67","type":"inject","z":"fc748134.2cddd","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Auto","payloadType":"str","x":110,"y":140,"wires":[["d351fb91.ff25e8"]]},{"id":"1d0ced80.f99202","type":"inject","z":"fc748134.2cddd","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"On","payloadType":"str","x":110,"y":180,"wires":[["d351fb91.ff25e8"]]},{"id":"6b4203d.7e1d8fc","type":"influxdb in","z":"fc748134.2cddd","influxdb":"83fcf514.ba0aa8","name":"Battery Query","query":"SELECT last(\"battery_discharge_current\") FROM \"undefinedquery_general_status\"","rawOutput":false,"precision":"","retentionPolicy":"","x":640,"y":200,"wires":[["d1e6891e.cf03a8"]]},{"id":"d351fb91.ff25e8","type":"bigtimer","z":"fc748134.2cddd","outtopic":"ProPower-ESP/CMD/RELAY/3296116","outpayload1":"1","outpayload2":"0","name":"Big Timer","comment":"","lat":"0","lon":"0","starttime":"660","endtime":"930","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":290,"y":180,"wires":[["c5440d05.61fb3"],[],[]]},{"id":"7fea8499.f335bc","type":"mqtt in","z":"ce3efe27.df959","name":"","topic":"MONICON/CMD/OS/","qos":"2","datatype":"auto","broker":"12328dc7.3f29d2","x":140,"y":300,"wires":[["3fa55f26.a9a6c","35fbcc7a.11d194","644a8b1d.477ee4","46a53ca9.bee264","98aa63c5.c0567","4ffd12da.d56afc","4c0fbf1.338384"]]},{"id":"8cf65a7a.b7fa08","type":"function","z":"ce3efe27.df959","name":"IP Addr","func":"var data = msg.payload.networkInterfaces.eth0[0].address\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/IP\" };\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":220,"wires":[["c3d8d8fe.a3be18","a4e28916.0010e8"]]},{"id":"301d1786.d34478","type":"function","z":"ce3efe27.df959","name":"Uptime","func":"var data = msg.payload.uptime\n\nlet days = parseInt(data / 86400)\nlet hours = parseInt((data % 86400) / 3600)\nlet minutes = parseInt(((data % 86400) % 3600) / 60)\nlet secs = parseInt(((data % 86400) % 3600) % 60)\n\nlet msg1 = {payload: \"Days[\" + days + \"] Hours[\" + hours + \"] Mins[\" + minutes + \"] Sec[\" + secs + \"]\", topic: \"MONICON/STAT/OS/UPTIME\"}\n\nreturn msg1\n","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["c3d8d8fe.a3be18","6c32cb78.6c57d4"]]},{"id":"c3d8d8fe.a3be18","type":"mqtt out","z":"ce3efe27.df959","name":"","topic":"","qos":"","retain":"","broker":"12328dc7.3f29d2","x":1110,"y":240,"wires":[]},{"id":"a8ecd5cd.6eb978","type":"function","z":"ce3efe27.df959","name":"Model","func":"var data = msg.payload.cpus[0].model\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/MODEL\" };\nreturn msg1;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["c3d8d8fe.a3be18","733c6cf2.980f04"]]},{"id":"7eeb7842.633578","type":"function","z":"ce3efe27.df959","name":"Disk Size (GB)","func":"var data = msg.payload[0]\n\nvar diskSize = String((data.size / 1000000).toFixed(2)) + \",\" + String((data.used / 1000000).toFixed(2)) + \",\" + String((data.available / 1000000).toFixed(2)) + \",\" + String((data.capacity * 100).toFixed(0))\n\nvar msg1 = { payload: diskSize, topic: \"MONICON/STAT/OS/DISK\" }\n\nreturn msg1;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["c3d8d8fe.a3be18","5735471a.b383c8"]]},{"id":"a4db0ee6.14b5d","type":"function","z":"ce3efe27.df959","name":"RAM (MB)","func":"var data = msg.payload\n\nvar ramSize = String((data.totalmem / 1000000).toFixed(2)) + \",\" + String((data.freemem / 1000000).toFixed(2)) + \",\" + String(parseFloat(data.memusage).toFixed(0))\n\nvar msg1 = { payload: ramSize, topic: \"MONICON/STAT/OS/RAM\" }\n\nreturn msg1;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["c3d8d8fe.a3be18","5f7b1239.2f830c"]]},{"id":"5735471a.b383c8","type":"function","z":"ce3efe27.df959","name":"Scale","func":"var output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\n        \n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalMem: parseFloat(output[0]),\n            UsedMem: parseFloat(output[1]),\n            FreeMem: parseFloat(output[2]),\n            PercentMem: parseFloat(output[3])\n        },\n        tags:{\n            System: \"HDD\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":100,"wires":[["766d7d6b.5264d4"]]},{"id":"5d0c8b5e.6869f4","type":"inject","z":"ce3efe27.df959","name":"","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["46a53ca9.bee264","644a8b1d.477ee4","35fbcc7a.11d194","98aa63c5.c0567","3fa55f26.a9a6c","4ffd12da.d56afc","4c0fbf1.338384","bae051de.ea874"]]},{"id":"733c6cf2.980f04","type":"function","z":"ce3efe27.df959","name":"Scale","func":"    //msg.payload = msg.payload.replace(/\\s+/g, '_')\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Model: msg.payload\n        },\n        tags:{\n            System: \"Model\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":180,"wires":[["766d7d6b.5264d4"]]},{"id":"a4e28916.0010e8","type":"function","z":"ce3efe27.df959","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            IPAddr: msg.payload\n        },\n        tags:{\n            System: \"IP\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":220,"wires":[["766d7d6b.5264d4"]]},{"id":"6c32cb78.6c57d4","type":"function","z":"ce3efe27.df959","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Uptime: msg.payload\n        },\n        tags:{\n            System: \"UPTIME\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":260,"wires":[["766d7d6b.5264d4"]]},{"id":"2f0e87d0.8e3528","type":"function","z":"ce3efe27.df959","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Hostname: msg.payload,\n            Serial: 321\n        },\n        tags:{\n            System: \"Hostname\",\n            geohash:\"xkug28x8jdej\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":140,"wires":[["766d7d6b.5264d4"]]},{"id":"5f7b1239.2f830c","type":"function","z":"ce3efe27.df959","name":"Scale","func":"var output = msg.payload.split(\",\");\n\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalRam: parseFloat(output[0]),\n            FreeRam: parseFloat(output[1]),\n            PercentRam: parseFloat(output[2])\n        },\n        tags:{\n            System: \"RAM\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":60,"wires":[["766d7d6b.5264d4"]]},{"id":"9c7267d8.732198","type":"function","z":"ce3efe27.df959","name":"Hostname","func":"var data = msg.payload.hostname\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Hostname\" };\nreturn msg1;","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["2f0e87d0.8e3528"]]},{"id":"766d7d6b.5264d4","type":"influxdb batch","z":"ce3efe27.df959","influxdb":"9b2ee3c4.77f26","precision":"","retentionPolicy":"","name":"","x":1190,"y":180,"wires":[]},{"id":"644a8b1d.477ee4","type":"OS","z":"ce3efe27.df959","name":"","x":370,"y":140,"wires":[["9c7267d8.732198"]]},{"id":"46a53ca9.bee264","type":"Drives","z":"ce3efe27.df959","name":"","x":370,"y":100,"wires":[["7eeb7842.633578"]]},{"id":"4ffd12da.d56afc","type":"Uptime","z":"ce3efe27.df959","name":"","x":380,"y":260,"wires":[["301d1786.d34478"]]},{"id":"35fbcc7a.11d194","type":"CPUs","z":"ce3efe27.df959","name":"","x":370,"y":180,"wires":[["a8ecd5cd.6eb978"]]},{"id":"98aa63c5.c0567","type":"Memory","z":"ce3efe27.df959","name":"","x":380,"y":60,"wires":[["a4db0ee6.14b5d"]]},{"id":"3fa55f26.a9a6c","type":"NetworkIntf","z":"ce3efe27.df959","name":"","x":390,"y":220,"wires":[[]]},{"id":"c379f8c9.29b548","type":"function","z":"ce3efe27.df959","name":"Temperature","func":"var data = msg.payload\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Temperature\" };\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":300,"wires":[["c3d8d8fe.a3be18","5172332e.45355c"]]},{"id":"4c0fbf1.338384","type":"cpu","z":"ce3efe27.df959","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":370,"y":300,"wires":[["c379f8c9.29b548"]]},{"id":"5172332e.45355c","type":"function","z":"ce3efe27.df959","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            ServerTemp: msg.payload\n        },\n        tags:{\n            ServerTemp: \"Temp\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":300,"wires":[["766d7d6b.5264d4"]]},{"id":"bae051de.ea874","type":"function","z":"ce3efe27.df959","name":"Used mem(SSD)","func":"let msg1 = {payload : \"df -h | grep -i sda1 | awk '{print $3\\\"/\\\"}';df -h | grep -i sda1 | awk '{print $2}'\", topic :\"Used mem(SSD)\"}\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[["ef417809.b79cb8"]]},{"id":"ef417809.b79cb8","type":"exec","z":"ce3efe27.df959","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":400,"wires":[["a8dd3ffb.4f9c4"],[],[]]},{"id":"a8dd3ffb.4f9c4","type":"function","z":"ce3efe27.df959","name":"Used mem(SSD)","func":"if(msg.topic != \"Used mem(SSD)\") {\n    return\n}\n\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet data = msg.payload.split('/')\n\n//return msg;\n\nvar msg1 = {};\n\n    msg1.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            SSD_Used: data[0],//.replace(/\\D/g,'')), //removes non numerical characters\n            SSD_Total: data[1],//.replace(/\\D/g,'')), //removes non numerical characters\n        },\n        tags:{\n            System: \"SSD\",\n        }\n    }];\n    \nvar msg2 = {};\n\nstructureObject();\n\nvar msg3 = { payload: data[0] + \"/\" + data[1], topic: \"MONICON/STAT/OS/SSD_Used\" };\n\nreturn [[msg1], [msg2], [msg3]];\n        \nfunction structureObject() {\n\tmsg2.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"SSD\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tSSD_Used: \"\\\"\" + data[0] + \"\\\"\",\n\t\t\t\tSSD_Total: \"\\\"\" + data[1] + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":770,"y":400,"wires":[["766d7d6b.5264d4"],[],["c3d8d8fe.a3be18"]]},{"id":"9c85b3dc.3e9bd","type":"mqtt out","z":"978acf07.643c1","name":"","topic":"","qos":"","retain":"","broker":"a2ca1a51.8c69b8","x":630,"y":40,"wires":[]},{"id":"97c6d5b2.2ab948","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/5440197","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":140,"wires":[["a64111fd.ab52e"]]},{"id":"630521b.e0338e","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/9020927","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":80,"wires":[["8e0069bd.569968"]]},{"id":"d290e086.f9cec","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/5806296","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":860,"y":40,"wires":[["aedae8f0.7155d8"]]},{"id":"62a9e740.d2a028","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/5806296","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":860,"y":80,"wires":[["5759328.6e04ccc"]]},{"id":"c43bf691.6660f8","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/13436671","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":860,"y":140,"wires":[["d3bf08d5.82a658"]]},{"id":"641bd42.a1be12c","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/13436671","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":860,"y":180,"wires":[["45736d94.c4e174"]]},{"id":"2bb957d4.5b4118","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/13433736","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":240,"wires":[["fc670b6c.0bf438"]]},{"id":"9f38cd65.e1293","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/13433736","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":280,"wires":[["73110b0d.fb2ec4"]]},{"id":"300a2109.e7b98e","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/5806741","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":340,"wires":[["397208e9.d150b8"]]},{"id":"16da1174.ba7aff","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/5806741","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":380,"wires":[["ccd466d7.feba78"]]},{"id":"ff7dafb3.5b9b9","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/13435020","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":860,"y":240,"wires":[["81232991.586f28"]]},{"id":"85ddd2d9.6e541","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/13435020","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":860,"y":280,"wires":[["2612db8f.fdf284"]]},{"id":"2d6668b0.5eeaf8","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/5440227","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":860,"y":340,"wires":[["8eddb67f.314388"]]},{"id":"28ed1b01.84fd24","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/5440227","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":860,"y":380,"wires":[["6f5d1f9a.48a08"]]},{"id":"db9e97bc.502f18","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/9020927","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":40,"wires":[["f6331cbb.4232"]]},{"id":"9ce6f8df.8d34d8","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/CMD/RELAY/5435496","qos":"2","broker":"a2ca1a51.8c69b8","x":190,"y":560,"wires":[["2d5b06d5.19394a"]]},{"id":"2d5b06d5.19394a","type":"nora-outlet","z":"978acf07.643c1","devicename":"Computers","roomhint":"Master Bedroom","name":"Computers","passthru":false,"nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/RELAY/5435496","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":430,"y":560,"wires":[["6daa32ce.aa81ac"]]},{"id":"8eddb67f.314388","type":"nora-light","z":"978acf07.643c1","devicename":"L1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Laboratory","name":"Lab Fan","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/5440227","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1080,"y":340,"wires":[["c45803e8.2d35"]]},{"id":"6f5d1f9a.48a08","type":"nora-light","z":"978acf07.643c1","devicename":"L2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Laboratory","name":"Lab LEDs","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/5440227","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1080,"y":380,"wires":[["c45803e8.2d35"]]},{"id":"2612db8f.fdf284","type":"nora-light","z":"978acf07.643c1","devicename":"DC2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Deck Area","name":"Deck Right","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/13435020","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1090,"y":280,"wires":[["c45803e8.2d35"]]},{"id":"81232991.586f28","type":"nora-light","z":"978acf07.643c1","devicename":"DC1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Deck Area","name":"Deck Left","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/13435020","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1080,"y":240,"wires":[["c45803e8.2d35"]]},{"id":"ccd466d7.feba78","type":"nora-light","z":"978acf07.643c1","devicename":"T2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Theatre Room","name":"Theatre Wall","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/5806741","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":410,"y":380,"wires":[["d560b386.acf85"]]},{"id":"397208e9.d150b8","type":"nora-light","z":"978acf07.643c1","devicename":"T1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Theatre Room","name":"Theatre LEDs","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/5806741","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":420,"y":340,"wires":[["d560b386.acf85"]]},{"id":"73110b0d.fb2ec4","type":"nora-light","z":"978acf07.643c1","devicename":"E2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Ensuite","name":"Ensuite LEDs","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/13433736","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":420,"y":280,"wires":[["d560b386.acf85"]]},{"id":"fc670b6c.0bf438","type":"nora-light","z":"978acf07.643c1","devicename":"E1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Ensuite","name":"Ensuite Heater","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/13433736","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":420,"y":240,"wires":[["d560b386.acf85"]]},{"id":"45736d94.c4e174","type":"nora-light","z":"978acf07.643c1","devicename":"M2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Master Bedroom","name":"Master Fan","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/13436671","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1090,"y":180,"wires":[["e2c06d03.0b87d"]]},{"id":"d3bf08d5.82a658","type":"nora-light","z":"978acf07.643c1","devicename":"M1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Master Bedroom","name":"Master LEDs","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/13436671","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1090,"y":140,"wires":[["e2c06d03.0b87d"]]},{"id":"5759328.6e04ccc","type":"nora-light","z":"978acf07.643c1","devicename":"P2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Paul's Bedroom","name":"Paul's Fan","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/5806296","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1090,"y":80,"wires":[["e2c06d03.0b87d"]]},{"id":"aedae8f0.7155d8","type":"nora-light","z":"978acf07.643c1","devicename":"P1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Paul's Bedroom","name":"Paul's Fan","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/5806296","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1090,"y":40,"wires":[["e2c06d03.0b87d"]]},{"id":"f6331cbb.4232","type":"nora-light","z":"978acf07.643c1","devicename":"K1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Kitchen Area","name":"Kitchen","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/9020927","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":400,"y":40,"wires":[["9c85b3dc.3e9bd"]]},{"id":"a64111fd.ab52e","type":"nora-light","z":"978acf07.643c1","devicename":"D1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Dining Room","name":"Dining Light","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/5440197","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":410,"y":140,"wires":[["9c85b3dc.3e9bd"]]},{"id":"8e0069bd.569968","type":"nora-light","z":"978acf07.643c1","devicename":"K2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Dining Room","name":"Enterance","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/9020927","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":410,"y":80,"wires":[["9c85b3dc.3e9bd"]]},{"id":"483bf4c1.acf50c","type":"nora-light","z":"978acf07.643c1","devicename":"G1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garage","name":"Garage Light","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTA/5440182","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":410,"y":440,"wires":[["cefe21bf.be34c"]]},{"id":"fbf5c87b.a07648","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTA/5440182","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":440,"wires":[["483bf4c1.acf50c"]]},{"id":"94f22a4e.e3ac28","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/5440182","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":480,"wires":[["f67e0d32.fd333"]]},{"id":"f67e0d32.fd333","type":"nora-garage","z":"978acf07.643c1","devicename":"G2","roomhint":"Garage Roller Door","name":"Garage Front Lts","passthru":false,"nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/5440182","openvalue":"1","openvalueType":"str","closevalue":"1","closevalueType":"str","x":430,"y":480,"wires":[["cefe21bf.be34c"]]},{"id":"975681ec.1dd95","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/STAT/LTB/5440197","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":180,"y":180,"wires":[["f4e1f92b.9da888"]]},{"id":"f4e1f92b.9da888","type":"nora-light","z":"978acf07.643c1","devicename":"D2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Dining Room","name":"Dining Dwn Lt","nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/LTB/5440197","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":420,"y":180,"wires":[["9c85b3dc.3e9bd"]]},{"id":"e2c06d03.0b87d","type":"mqtt out","z":"978acf07.643c1","name":"","topic":"","qos":"","retain":"","broker":"a2ca1a51.8c69b8","x":1290,"y":40,"wires":[]},{"id":"d560b386.acf85","type":"mqtt out","z":"978acf07.643c1","name":"","topic":"","qos":"","retain":"","broker":"a2ca1a51.8c69b8","x":630,"y":240,"wires":[]},{"id":"c45803e8.2d35","type":"mqtt out","z":"978acf07.643c1","name":"","topic":"","qos":"","retain":"","broker":"a2ca1a51.8c69b8","x":1290,"y":240,"wires":[]},{"id":"cefe21bf.be34c","type":"mqtt out","z":"978acf07.643c1","name":"","topic":"","qos":"","retain":"","broker":"a2ca1a51.8c69b8","x":630,"y":440,"wires":[]},{"id":"6daa32ce.aa81ac","type":"mqtt out","z":"978acf07.643c1","name":"","topic":"","qos":"","retain":"","broker":"a2ca1a51.8c69b8","x":630,"y":560,"wires":[]},{"id":"b6ba382c.263b98","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/CMD/RELAY/13433793","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":190,"y":620,"wires":[["7c5a1f4f.1895f"]]},{"id":"7c5a1f4f.1895f","type":"nora-outlet","z":"978acf07.643c1","devicename":"F1","roomhint":"Master Bedroom","name":"Front Lighting","passthru":false,"nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/RELAY/13433793","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":440,"y":620,"wires":[["621819a.7d659e8"]]},{"id":"621819a.7d659e8","type":"mqtt out","z":"978acf07.643c1","name":"","topic":"","qos":"","retain":"","broker":"a2ca1a51.8c69b8","x":630,"y":620,"wires":[]},{"id":"31001297.c662de","type":"mqtt in","z":"978acf07.643c1","name":"","topic":"ProPower-ESP/CMD/RELAY/13381303","qos":"2","datatype":"auto","broker":"a2ca1a51.8c69b8","x":190,"y":680,"wires":[["5e815cd3.e32724"]]},{"id":"5e815cd3.e32724","type":"nora-outlet","z":"978acf07.643c1","devicename":"FISH TANK","roomhint":"Master Bedroom","name":"FISH TANK","passthru":false,"nora":"d3a201cd.f1fa2","topic":"ProPower-ESP/CMD/RELAY/13381303","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":430,"y":680,"wires":[["a02e939f.bfa58"]]},{"id":"a02e939f.bfa58","type":"mqtt out","z":"978acf07.643c1","name":"","topic":"","qos":"","retain":"","broker":"a2ca1a51.8c69b8","x":630,"y":680,"wires":[]},{"id":"573c7fb0.9afcb","type":"mqtt in","z":"9ae2b625.ac6868","name":"","topic":"MONICON/CMD/Query/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":170,"y":80,"wires":[["cda4582.fcfb9a8"]]},{"id":"cda4582.fcfb9a8","type":"function","z":"9ae2b625.ac6868","name":"Daily - Current Month","func":"var query = msg.payload;\n\nvar msg1 = {query:  String(query) };\n\nswitch (msg.topic) {\n    case \"MONICON/CMD/Query/Total/\" :\n        msg1.topic = \"MONICON/STAT/Query/Total/\";\n        break;\n    case \"MONICON/CMD/Query/Power/\" :\n        msg1.topic = \"MONICON/STAT/Query/PowerPro/\";\n        break;\n    case \"MONICON/CMD/Query/Lighting/\" :\n        msg1.topic = \"MONICON/STAT/Query/LightPro/\";  \n        break;\n    case \"MONICON/CMD/Query/Device/\" :\n        msg1.topic = \"MONICON/STAT/Query/Device/\";  \n        break;    \n    default :\n        msg1.topic = \"MONICON/STAT/Query/Total/\";\n}\n\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":80,"wires":[["7032ea56.f9afc4"]]},{"id":"602e1e78.2fe53","type":"json","z":"9ae2b625.ac6868","name":"","property":"payload","action":"str","pretty":false,"x":970,"y":80,"wires":[["6341aaed.a4c0e4"]]},{"id":"18f728e8.ed93c7","type":"mqtt out","z":"9ae2b625.ac6868","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":1250,"y":80,"wires":[]},{"id":"43f11e77.0c37e","type":"comment","z":"9ae2b625.ac6868","name":"Query Current Month - kWh","info":"","x":180,"y":40,"wires":[]},{"id":"7032ea56.f9afc4","type":"influxdb in","z":"9ae2b625.ac6868","influxdb":"9b2ee3c4.77f26","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":630,"y":80,"wires":[["56cdddb9.3653d4"]]},{"id":"2c6f2240.2d309e","type":"mqtt out","z":"9ae2b625.ac6868","name":"","topic":"ProPower-ESP/CMD/ResetKWH_Meter/","qos":"","retain":"","broker":"b10bc66c.1edf38","x":1080,"y":240,"wires":[]},{"id":"9e7c2f84.a5176","type":"inject","z":"9ae2b625.ac6868","name":"1 hr Cycle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["b029f204.c5233"]]},{"id":"b029f204.c5233","type":"function","z":"9ae2b625.ac6868","name":"ResetKWH_Meter","func":"msg.payload = DateCalculator();\nif (msg.payload === 0) {\n    return msg;\n}\n\n\nfunction DateCalculator() {\n    //msg.payload = time\n    //return msg\n    var thisTime = new Date();\n    \n    // thisTime.setHours(thisTime.getHours());\n    // thisTime.setMinutes(thisTime.getMinutes());\n    // thisTime.setSeconds(0);\n\n    // //thisTime.setDate(new Date().getDate() + 1);\n    // thisTime.setDate(new Date().getDate())\n    // thisTime.setMonth(new Date().getMonth());\n    // thisTime.setFullYear(new Date().getFullYear());\n    \n    // var milliSeconds = thisTime.getTime() + 86400000;\n    \n    // thisTime = new Date(milliSeconds);\n    \n    return thisTime.getHours();\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":240,"wires":[["2c6f2240.2d309e"]]},{"id":"3aa2fa2a.b3be56","type":"comment","z":"9ae2b625.ac6868","name":"Reset Daily kWh Meter @ midnight","info":"","x":200,"y":200,"wires":[]},{"id":"56cdddb9.3653d4","type":"delay","z":"9ae2b625.ac6868","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":80,"wires":[["602e1e78.2fe53"]]},{"id":"8d056e3f.423c6","type":"exec","z":"78570099.9fa1f","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":850,"y":80,"wires":[[],[],[]]},{"id":"fa78ae1e.5afbb","type":"inject","z":"78570099.9fa1f","name":"24hr Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":160,"y":80,"wires":[["8d056e3f.423c6"]]},{"id":"34c65c88.4287e4","type":"comment","z":"78570099.9fa1f","name":"System Reboot every 12hrs","info":"","x":180,"y":40,"wires":[]},{"id":"6341aaed.a4c0e4","type":"function","z":"9ae2b625.ac6868","name":"Replace null","func":"msg.payload = msg.payload.replace(\"null\", \"0\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":80,"wires":[["18f728e8.ed93c7"]]}]