flows_MoniconHome.json
[{"id":"cf7b58b4.e58cb8","type":"tab","label":"Database","disabled":false,"info":""},{"id":"7615d1a5.2a905","type":"tab","label":"Remote","disabled":false,"info":""},{"id":"3a43f1a2.78626e","type":"tab","label":"kWh Queries","disabled":false,"info":""},{"id":"bf066a1e.9e07e8","type":"tab","label":"OS","disabled":false,"info":""},{"id":"ebcb4cdd.31608","type":"tab","label":"Firmware","disabled":false,"info":""},{"id":"10757f53.aa8881","type":"tab","label":"raspAP Conf","disabled":false,"info":""},{"id":"7d5d6ee4.d04e3","type":"tab","label":"Heartbeat","disabled":false,"info":""},{"id":"46dd6a52.8b29d4","type":"tab","label":"New Timers","disabled":false,"info":""},{"id":"4cd4461d.373bc8","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"https://us-central1-1.gcp.cloud2.influxdata.com","verifyservercert":true},{"id":"8cababa0.88cda8","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"f58ce46b.f146a8","type":"mqtt-broker","z":"","name":"MQTTCloud","broker":"tailor.cloudmqtt.com","port":"10287","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9b2ee3c4.77f26","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"myHome","name":"","usetls":false,"tls":"4cd4461d.373bc8"},{"id":"8f6423c3.fcc21","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"d1ca4d8b.2f44c","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"20d016fd.dbdf8a","type":"influxdb","z":"","hostname":"10.0.0.59","port":"8086","protocol":"http","database":"powerwall","name":"","usetls":false,"tls":"4cd4461d.373bc8"},{"id":"12328dc7.3f29d2","type":"mqtt-broker","z":"","name":"","broker":"10.3.141.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d388514b.7e355","type":"influxdb","z":"","hostname":"localhost","port":"8886","protocol":"http","database":"MyHome","name":"","usetls":false,"tls":""},{"id":"707e61ff.e7a5f","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"https://us-central1-1.gcp.cloud2.influxdata.com","verifyservercert":true},{"id":"f08f55a.ee1f1a8","type":"influxdb","z":"","hostname":"10.0.0.59","port":"8086","protocol":"http","database":"powerwall","name":"","usetls":false,"tls":""},{"id":"c22ba17b.d714","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"13797544.67796b","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"cf25acf1.d6bef","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"MyHome","name":"","usetls":false,"tls":""},{"id":"b30202d5.6b71d","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"MyHome","name":"","usetls":false,"tls":""},{"id":"37ee7344.73842c","type":"influxdb","z":"","hostname":"sess","port":"8086","protocol":"http","database":"MyHome","name":"","usetls":false,"tls":""},{"id":"b10bc66c.1edf38","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"47efc73c.68f748","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"SESS","name":"","usetls":false,"tls":""},{"id":"34d8a60.393bf5a","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"JC","name":"","usetls":true,"tls":"707e61ff.e7a5f"},{"id":"700a6469.e00c4c","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"f421edcb.a3ce","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c25b6ff.b89d29","type":"inject","z":"cf7b58b4.e58cb8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":80,"wires":[["922e649f.771498"]]},{"id":"2ab590ae.0a42c","type":"inject","z":"cf7b58b4.e58cb8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":160,"wires":[["a5703adc.bc2f68"]]},{"id":"20955e0c.ea40d2","type":"comment","z":"cf7b58b4.e58cb8","name":"RESET DATABASES","info":"","x":160,"y":40,"wires":[]},{"id":"80029914.c4a2b8","type":"comment","z":"cf7b58b4.e58cb8","name":"CREATES DATABASES","info":"","x":150,"y":120,"wires":[]},{"id":"3fd0a464.40d51c","type":"comment","z":"cf7b58b4.e58cb8","name":"DATABASE DATA","info":"","x":170,"y":220,"wires":[]},{"id":"c9e30c07.3d6d4","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/STAT/LT/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":190,"y":120,"wires":[["7944bcee.898b04"]]},{"id":"9e427524.607fc8","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/CMD/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":200,"y":500,"wires":[[]]},{"id":"909fe18e.ecc6d","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/STAT/RELAY/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":180,"y":180,"wires":[["7944bcee.898b04"]]},{"id":"34964475.6318dc","type":"mqtt out","z":"7615d1a5.2a905","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":550,"y":500,"wires":[]},{"id":"1b6d677f.adb3a9","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/Device/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":190,"y":240,"wires":[["7944bcee.898b04"]]},{"id":"8c6e6347.9e41","type":"comment","z":"7615d1a5.2a905","name":"MQTTCloud => MONICON.LOCAL","info":"","x":160,"y":460,"wires":[]},{"id":"98c1221f.ec19e","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/STAT/GetTimers/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":160,"y":300,"wires":[["7944bcee.898b04"]]},{"id":"9fc8df17.2f5f9","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"ProPower-ESP/kWh/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":200,"y":340,"wires":[["7944bcee.898b04"]]},{"id":"4bb7d13f.6dc33","type":"mqtt in","z":"3a43f1a2.78626e","name":"","topic":"MONICON/CMD/Query/#","qos":"2","datatype":"auto","broker":"12328dc7.3f29d2","x":170,"y":80,"wires":[["dbc15eaf.52a54"]]},{"id":"c7e1fadd.b5bd98","type":"function","z":"cf7b58b4.e58cb8","name":"New","func":"var output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nif (output[3].includes(\"Light\") || (output[3].includes(\"Power\"))) {\n\n    // Lighting\n    if (output.length > 4) {\n        if (output[3].includes(\"Light\")) {\n            output[4] = output[4].replace(/\\s+/g, '_')\n            output[4] = output[4].concat(\".Lt\")\n    \t} else if (output[3].includes(\"Power\")) {\n    \t\toutput[4] = output[4].replace(/\\s+/g, '_')\n    \t\toutput[4] = output[4].concat(\".Pwr\")\n    \t}\n    }\n    \n    output[1] = (output[1] / 1000).toFixed(2);\n    \n    structureObject();\n    \n    return msg;\n\n} else {\n    return\n}\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'MONICON Home',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Energy',\n\n\t\t\ttags:{\n\t\t\t\t[output[4]]: msg.topic\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tVoltage: parseFloat(output[0]),\n\t\t\t\tCurrent: parseFloat(output[1]),\n\t\t\t\tKilowatts: parseFloat(output[2])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\n\t\t{ measurement: \"kWh\", fields: { [msg.topic]: parseFloat(output[6]) || 0.0 }, tags:{ name: [output[3].substring(0, output[3].indexOf('V'))] } }\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":260,"wires":[[]]},{"id":"dbc15eaf.52a54","type":"function","z":"3a43f1a2.78626e","name":"Daily - Current Month","func":"var query = msg.payload;\n\nvar msg1 = {query:  String(query) };\n\nswitch (msg.topic) {\n    case \"MONICON/CMD/Query/Total/\" :\n        msg1.topic = \"MONICON/STAT/Query/Total/\";\n        break;\n    case \"MONICON/CMD/Query/Power/\" :\n        msg1.topic = \"MONICON/STAT/Query/PowerPro/\";\n        break;\n    case \"MONICON/CMD/Query/Lighting/\" :\n        msg1.topic = \"MONICON/STAT/Query/LightPro/\";  \n        break;\n    case \"MONICON/CMD/Query/Device/\" :\n        msg1.topic = \"MONICON/STAT/Query/Device/\";  \n        break;    \n    default :\n        msg1.topic = \"MONICON/STAT/Query/Total/\";\n}\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["81e71c12.79231"]]},{"id":"d11e823.5572f8","type":"json","z":"3a43f1a2.78626e","name":"","property":"payload","action":"str","pretty":false,"x":830,"y":80,"wires":[["fb50a85b.059ac8"]]},{"id":"fb50a85b.059ac8","type":"mqtt out","z":"3a43f1a2.78626e","name":"","topic":"","qos":"","retain":"","broker":"12328dc7.3f29d2","x":970,"y":80,"wires":[]},{"id":"c0e3406d.8412d","type":"comment","z":"3a43f1a2.78626e","name":"Query Current Month - kWh","info":"","x":180,"y":40,"wires":[]},{"id":"79e42485.35be8c","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"MONICON/STAT/Query/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":190,"y":400,"wires":[["7944bcee.898b04"]]},{"id":"62254bb6.e2c234","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"MONICON/CMD/#","qos":"2","datatype":"auto","broker":"f58ce46b.f146a8","x":210,"y":560,"wires":[["34964475.6318dc"]]},{"id":"d3135b91.d15f58","type":"inject","z":"cf7b58b4.e58cb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"DEV-TEST-POWER","payloadType":"str","x":210,"y":480,"wires":[["b20b64.07d5c4a"]]},{"id":"b20b64.07d5c4a","type":"mqtt out","z":"cf7b58b4.e58cb8","name":"","topic":"ProPower-ESP/CMD/UpdateRoom/9020841","qos":"","retain":"","broker":"12328dc7.3f29d2","x":630,"y":480,"wires":[]},{"id":"ef3cca79.4ca9e8","type":"mqtt in","z":"bf066a1e.9e07e8","name":"","topic":"MONICON/CMD/OS/","qos":"2","datatype":"auto","broker":"12328dc7.3f29d2","x":140,"y":280,"wires":[["9a0e5ab8.b307b8","ab0a39d.58f23c8","e12f0a6f.2320f8","875fb2f8.20d","cc98110c.1fd0c","43dea24c.1874ec"]]},{"id":"b7bd66b0.afe338","type":"function","z":"bf066a1e.9e07e8","name":"IP Addr","func":"var data = msg.payload.networkInterfaces.eth0[0].address\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/IP\" };\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":200,"wires":[["8cec3ca5.5d3a","9d95eec3.3e447"]]},{"id":"69242663.e22958","type":"function","z":"bf066a1e.9e07e8","name":"Uptime","func":"var data = msg.payload.uptime\n\nlet days = parseInt(data / 86400)\nlet hours = parseInt((data % 86400) / 3600)\nlet minutes = parseInt(((data % 86400) % 3600) / 60)\nlet secs = parseInt(((data % 86400) % 3600) % 60)\n\nlet msg1 = {payload: \"Days[\" + days + \"] Hours[\" + hours + \"] Mins[\" + minutes + \"] Sec[\" + secs + \"]\", topic: \"MONICON/STAT/OS/UPTIME\"}\n\nreturn msg1\n","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["8cec3ca5.5d3a","4bef249b.2a341c"]]},{"id":"8cec3ca5.5d3a","type":"mqtt out","z":"bf066a1e.9e07e8","name":"","topic":"","qos":"","retain":"","broker":"12328dc7.3f29d2","x":810,"y":280,"wires":[]},{"id":"c90d5a59.c15758","type":"function","z":"bf066a1e.9e07e8","name":"Model","func":"var data = msg.payload.cpus[0].model\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/MODEL\" };\nreturn msg1;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["8cec3ca5.5d3a","9b41d8b5.775de8"]]},{"id":"b38601ed.1b05a","type":"function","z":"bf066a1e.9e07e8","name":"Disk Size (GB)","func":"var data = msg.payload[0]\n\nvar diskSize = String((data.size / 1000000).toFixed(2)) + \",\" + String((data.used / 1000000).toFixed(2)) + \",\" + String((data.available / 1000000).toFixed(2)) + \",\" + String((data.capacity * 100).toFixed(0))\n\nvar msg1 = { payload: diskSize, topic: \"MONICON/STAT/OS/DISK\" }\n\nreturn msg1;","outputs":1,"noerr":0,"x":560,"y":80,"wires":[["8cec3ca5.5d3a","a67152b0.f6232"]]},{"id":"4db9666f.1647f8","type":"function","z":"bf066a1e.9e07e8","name":"RAM (MB)","func":"var data = msg.payload\n\nvar ramSize = String((data.totalmem / 1000000).toFixed(2)) + \",\" + String((data.freemem / 1000000).toFixed(2)) + \",\" + String(parseFloat(data.memusage).toFixed(0))\n\nvar msg1 = { payload: ramSize, topic: \"MONICON/STAT/OS/RAM\" }\n\nreturn msg1;","outputs":1,"noerr":0,"x":550,"y":40,"wires":[["8cec3ca5.5d3a","34e9cfe2.f4705"]]},{"id":"a67152b0.f6232","type":"function","z":"bf066a1e.9e07e8","name":"Scale","func":"var output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\n        \n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalMem: parseFloat(output[0]),\n            UsedMem: parseFloat(output[1]),\n            FreeMem: parseFloat(output[2]),\n            PercentMem: parseFloat(output[3])\n        },\n        tags:{\n            System: \"HDD\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":80,"wires":[[]]},{"id":"67b9a519.7c0e6c","type":"inject","z":"bf066a1e.9e07e8","name":"","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":40,"wires":[["875fb2f8.20d","e12f0a6f.2320f8","ab0a39d.58f23c8","cc98110c.1fd0c","9a0e5ab8.b307b8","43dea24c.1874ec"]]},{"id":"9b41d8b5.775de8","type":"function","z":"bf066a1e.9e07e8","name":"Scale","func":"    //msg.payload = msg.payload.replace(/\\s+/g, '_')\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Model: msg.payload\n        },\n        tags:{\n            System: \"Model\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":160,"wires":[[]]},{"id":"9d95eec3.3e447","type":"function","z":"bf066a1e.9e07e8","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            IPAddr: msg.payload\n        },\n        tags:{\n            System: \"IP\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":200,"wires":[[]]},{"id":"4bef249b.2a341c","type":"function","z":"bf066a1e.9e07e8","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Uptime: msg.payload\n        },\n        tags:{\n            System: \"UPTIME\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":240,"wires":[[]]},{"id":"8e1224b1.42f958","type":"function","z":"bf066a1e.9e07e8","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Hostname: msg.payload,\n            Serial: 321\n        },\n        tags:{\n            System: \"Hostname\",\n            geohash:\"xkug28x8jdej\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":120,"wires":[[]]},{"id":"34e9cfe2.f4705","type":"function","z":"bf066a1e.9e07e8","name":"Scale","func":"var output = msg.payload.split(\",\");\n\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalRam: parseFloat(output[0]),\n            FreeRam: parseFloat(output[1]),\n            PercentRam: parseFloat(output[2])\n        },\n        tags:{\n            System: \"RAM\"\n        }\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":40,"wires":[[]]},{"id":"7fc5ef8a.fced6","type":"function","z":"bf066a1e.9e07e8","name":"Hostname","func":"var data = msg.payload.hostname\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Hostname\" };\nreturn msg1;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["8e1224b1.42f958"]]},{"id":"297bb4c5.85e68c","type":"exec","z":"7615d1a5.2a905","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MAC Addr","x":570,"y":120,"wires":[["273e68e3.d8f388"],[],[]]},{"id":"273e68e3.d8f388","type":"function","z":"7615d1a5.2a905","name":"","func":"var macAddr = msg.payload.replace(/\\W/g,\"\");\nflow.set(\"macAddr\", macAddr);\nmsg.payload = msg.data;\nmsg.topic = macAddr.concat(\"/\" + msg.topic);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":120,"wires":[["f8f0ed27.33601"]]},{"id":"7944bcee.898b04","type":"function","z":"7615d1a5.2a905","name":"","func":"var macAddr = flow.get(\"macAddr\") || \"\";\n\nif (macAddr === \"\") {\n    msg.data = msg.payload;\n    return [msg, null];\n} else {\n    msg.topic = macAddr.concat(\"/\" + msg.topic);\n    return [null, msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":410,"y":140,"wires":[["297bb4c5.85e68c"],["e2d482ce.80de5"]]},{"id":"4f585822.f5edb8","type":"mqtt in","z":"7615d1a5.2a905","name":"","topic":"MONICON/CMD/macAddr/","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":180,"y":60,"wires":[["16730441.c9841c"]]},{"id":"16730441.c9841c","type":"exec","z":"7615d1a5.2a905","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MAC Addr","x":570,"y":60,"wires":[["7d15f448.fff37c"],[],[]]},{"id":"7d15f448.fff37c","type":"function","z":"7615d1a5.2a905","name":"","func":"var macAddr = msg.payload.replace(/\\W/g,\"\");\nflow.set(\"macAddr\", macAddr);\nmsg.payload = macAddr;\nmsg.topic = \"MONICON/STAT/macAddr/\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":60,"wires":[["f8f0ed27.33601"]]},{"id":"f8f0ed27.33601","type":"mqtt out","z":"7615d1a5.2a905","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":870,"y":60,"wires":[]},{"id":"e2d482ce.80de5","type":"mqtt out","z":"7615d1a5.2a905","name":"","topic":"","qos":"","retain":"","broker":"f58ce46b.f146a8","x":550,"y":180,"wires":[]},{"id":"d956f387.0bcb9","type":"function","z":"cf7b58b4.e58cb8","name":"Old","func":"var output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nif (output[3].includes(\"Light\") || (output[3].includes(\"Power\"))) {\n\n    if (output.length > 4) {\n        if (output[3].includes(\"Light\")) {\n            output[4] = output[4].replace(/\\s+/g, '_')\n            output[4] = output[4].concat(\".Lt\")\n            \n                    msg.payload = [\n        {\n            measurement: \"Energy\",\n            fields: {\n                Voltage: parseFloat(output[0]),\n                Current: parseFloat(output[1]) / 1000,\n                Kilowatts: parseFloat(output[2])\n            },\n            tags:{\n                [output[4]]: msg.topic\n            }\n        }, { measurement: \"kWh\", fields: { [msg.topic]: parseFloat(output[6]) || 0.0 }, tags:{ name: [output[3].substring(0, output[3].indexOf('V'))] } }\n    ];\n        } \n        else if (output[3].includes(\"Power\")) {\n            output[4] = output[4].replace(/\\s+/g, '_')\n            output[4] = output[4].concat(\".Pwr\")\n            \n                msg.payload = [\n        {\n            measurement: \"Energy\",\n            fields: {\n                Voltage: parseFloat(output[0]),\n                Current: parseFloat(output[1]) / 1000,\n                Kilowatts: parseFloat(output[2])\n            },\n            tags:{\n                [output[4]]: msg.topic\n            }\n        }, { measurement: \"kWh\", fields: { [msg.topic]: parseFloat(output[6]) || 0.0 }, tags:{ name: [output[3].substring(0, output[3].indexOf('V'))] } }\n    ];\n        } \n    \n    } else {\n            msg.payload = [\n        {\n            measurement: \"Energy\",\n            fields: {\n                Voltage: parseFloat(output[0]),\n                Current: parseFloat(output[1]),\n                Kilowatts: parseFloat(output[2])\n            },\n            tags:{\n                topic: msg.topic\n            }\n        }, { measurement: \"kWh\", fields: { [msg.topic]: parseFloat(output[6]) || 0.0 }, tags:{ name: [output[3].substring(0, output[3].indexOf('V'))] } }\n    ];\n    }\n    \n    return msg;\n\n} else {\n    return\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":220,"wires":[["84c45fd0.15ebc"]]},{"id":"b4f6151f.33fd28","type":"function","z":"cf7b58b4.e58cb8","name":"DROP","func":"msg.query = \"DROP MEASUREMENT \\\"Power\\\"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":420,"wires":[[]]},{"id":"d7ff2374.e7e7","type":"comment","z":"cf7b58b4.e58cb8","name":"DATABASE MEASUREMENT","info":"","x":140,"y":380,"wires":[]},{"id":"84c45fd0.15ebc","type":"influxdb batch","z":"cf7b58b4.e58cb8","influxdb":"9b2ee3c4.77f26","precision":"","retentionPolicy":"","name":"","x":1100,"y":220,"wires":[]},{"id":"596ef415.51d32c","type":"influxdb batch","z":"bf066a1e.9e07e8","influxdb":"9b2ee3c4.77f26","precision":"","retentionPolicy":"","name":"","x":1100,"y":40,"wires":[]},{"id":"922e649f.771498","type":"influxdb in","z":"cf7b58b4.e58cb8","influxdb":"9b2ee3c4.77f26","name":"","query":"DROP DATABASE myHome","rawOutput":false,"precision":"","retentionPolicy":"","x":650,"y":80,"wires":[["82bdd1bc.7ff3e"]]},{"id":"a5703adc.bc2f68","type":"influxdb in","z":"cf7b58b4.e58cb8","influxdb":"9b2ee3c4.77f26","name":"","query":"CREATE DATABASE myHome","rawOutput":false,"precision":"","retentionPolicy":"","x":660,"y":160,"wires":[["82bdd1bc.7ff3e"]]},{"id":"81e71c12.79231","type":"influxdb in","z":"3a43f1a2.78626e","influxdb":"9b2ee3c4.77f26","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":650,"y":80,"wires":[["d11e823.5572f8"]]},{"id":"4a8b9dea.453004","type":"string","z":"cf7b58b4.e58cb8","name":"","methods":[{"name":"getRightMost","params":[{"type":"str","value":"ProPower-ESP/Device/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":490,"y":260,"wires":[["c7e1fadd.b5bd98","d956f387.0bcb9"]]},{"id":"cb099800.ffef18","type":"Stackhero-InfluxDB-v2-write","z":"cf7b58b4.e58cb8","server":"d1ca4d8b.2f44c","name":"","x":1110,"y":260,"wires":[[]]},{"id":"e12f0a6f.2320f8","type":"OS","z":"bf066a1e.9e07e8","name":"","x":370,"y":120,"wires":[["7fc5ef8a.fced6"]]},{"id":"875fb2f8.20d","type":"Drives","z":"bf066a1e.9e07e8","name":"","x":370,"y":80,"wires":[["b38601ed.1b05a"]]},{"id":"43dea24c.1874ec","type":"Uptime","z":"bf066a1e.9e07e8","name":"","x":380,"y":240,"wires":[["69242663.e22958"]]},{"id":"ab0a39d.58f23c8","type":"CPUs","z":"bf066a1e.9e07e8","name":"","x":370,"y":160,"wires":[["c90d5a59.c15758"]]},{"id":"cc98110c.1fd0c","type":"Memory","z":"bf066a1e.9e07e8","name":"","x":380,"y":40,"wires":[["4db9666f.1647f8"]]},{"id":"9a0e5ab8.b307b8","type":"NetworkIntf","z":"bf066a1e.9e07e8","name":"","x":390,"y":200,"wires":[[]]},{"id":"e0bba36c.7acbc","type":"inject","z":"cf7b58b4.e58cb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"DEV-TEST-POWER","payloadType":"str","x":210,"y":540,"wires":[["913b95d7.8b6728"]]},{"id":"913b95d7.8b6728","type":"mqtt out","z":"cf7b58b4.e58cb8","name":"","topic":"ProPower-ESP/CMD/UpdateDevA/9020841","qos":"","retain":"","broker":"12328dc7.3f29d2","x":630,"y":540,"wires":[]},{"id":"8b6cb9f6.4e0298","type":"mqtt out","z":"cf7b58b4.e58cb8","name":"","topic":"ProPower-ESP/CMD/LTA/13436671","qos":"","retain":"","broker":"12328dc7.3f29d2","x":610,"y":620,"wires":[]},{"id":"48bda3e.b56a45c","type":"inject","z":"cf7b58b4.e58cb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":170,"y":620,"wires":[["8b6cb9f6.4e0298"]]},{"id":"352add76.66c7b2","type":"inject","z":"cf7b58b4.e58cb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":170,"y":660,"wires":[["8b6cb9f6.4e0298"]]},{"id":"bc5a231c.3a1ef","type":"mqtt out","z":"cf7b58b4.e58cb8","name":"","topic":"ProPower-ESP/CMD/LTB/13436671","qos":"","retain":"","broker":"12328dc7.3f29d2","x":610,"y":700,"wires":[]},{"id":"3e4513.9dc18aee","type":"inject","z":"cf7b58b4.e58cb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":170,"y":700,"wires":[["bc5a231c.3a1ef"]]},{"id":"2d25fd23.566432","type":"inject","z":"cf7b58b4.e58cb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":170,"y":740,"wires":[["bc5a231c.3a1ef"]]},{"id":"d598641.76f8598","type":"mqtt out","z":"cf7b58b4.e58cb8","name":"","topic":"ProPower-ESP/CMD/RELAY/9020841","qos":"","retain":"","broker":"12328dc7.3f29d2","x":610,"y":800,"wires":[]},{"id":"f0bb61a1.9d5a9","type":"inject","z":"cf7b58b4.e58cb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":170,"y":800,"wires":[["d598641.76f8598"]]},{"id":"f8b81c0a.bc522","type":"inject","z":"cf7b58b4.e58cb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":170,"y":840,"wires":[["d598641.76f8598"]]},{"id":"6030a295.830a6c","type":"mqtt in","z":"cf7b58b4.e58cb8","name":"","topic":"ProPower-ESP/Device/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":150,"y":260,"wires":[["4a8b9dea.453004","14f14f6f.629ff9"]]},{"id":"f11e57b6.116b68","type":"file in","z":"ebcb4cdd.31608","name":"","filename":"","format":"","sendError":true,"x":1050,"y":40,"wires":[["91dc0f6b.4313c"]]},{"id":"a4448c6b.301f3","type":"switch","z":"ebcb4cdd.31608","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP8266-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":40,"wires":[[],["96857d90.12bb7"]]},{"id":"aa6c43fe.c2f9","type":"http in","z":"ebcb4cdd.31608","name":"OTA Request","url":"/firmwareUpdate","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["a4448c6b.301f3"]]},{"id":"8eda2902.56e928","type":"debug","z":"ebcb4cdd.31608","name":"msg.mostRecentFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mostRecentFile","x":1100,"y":180,"wires":[]},{"id":"91dc0f6b.4313c","type":"http response","z":"ebcb4cdd.31608","name":"OTA Response","statusCode":"","headers":{},"x":1220,"y":40,"wires":[]},{"id":"a6e18d74.2867e","type":"function","z":"ebcb4cdd.31608","name":"","func":"///// \n//List of files from RPI Github\nvar firmwares = msg.files;\n//TRUC_VERSION DATA from ESP\nvar version = msg.req.headers;\n//Version Data\nvar currentFile = version[\"x-esp8266-version\"];\n//Extract Device Type PowerPro or LightPro\nvar deviceType = currentFile.substring(0,currentFile.indexOf(\"V\")+1)\nmsg.deviceType = deviceType;\n\n//Extracts Github file that matches current ESP version ID\nvar existingFile = firmwares.filter(item=> item.includes(currentFile)).pop();\n//Filters out any incorrect device types ie PowerPro or LightPro\nvar firmwareNames = firmwares.filter(item=> item.includes(msg.deviceType));\n//Sorts out list of files\nvar comparer = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});\nfirmwareNames.sort(comparer.compare)[firmwareNames.length-1]\n\nvar mostRecentFile;\n//Pops off most recent file\nmsg.mostRecentFile = firmwareNames.pop();\nmsg.existingFile = existingFile;\n//Compares ESP version to most recent developed file\n//if((msg.existingFile.localeCompare(msg.mostRecentFile)) < 0)\n//{\n    msg.filename = \"/home/pi/FirmwareEsp8266/\" + msg.mostRecentFile;\n//}\n//else\n//{\n//    msg.filename = undefined;\n//}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":40,"wires":[["8eda2902.56e928","53f110ca.4521b","5de1e152.842b","4963283.3ac71d8","f88fbb1b.3abd58","f11e57b6.116b68","f2e7e21e.09438"]]},{"id":"53f110ca.4521b","type":"debug","z":"ebcb4cdd.31608","name":"msg.filename","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":1070,"y":220,"wires":[]},{"id":"5de1e152.842b","type":"debug","z":"ebcb4cdd.31608","name":"msg.req.headers.x-esp8266-version","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.headers.x-esp8266-version","x":1150,"y":260,"wires":[]},{"id":"4963283.3ac71d8","type":"debug","z":"ebcb4cdd.31608","name":"msg.existingFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"existingFile","x":1080,"y":140,"wires":[]},{"id":"f88fbb1b.3abd58","type":"debug","z":"ebcb4cdd.31608","name":"msg.payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":100,"wires":[]},{"id":"f2e7e21e.09438","type":"debug","z":"ebcb4cdd.31608","name":"msg.deviceType","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"deviceType","x":1080,"y":300,"wires":[]},{"id":"7a3090e1.37694","type":"exec","z":"ebcb4cdd.31608","command":"sudo rm /home/pi/FirmwareEsp8266 -r","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":620,"wires":[["65cb9fda.d387"],[],[]]},{"id":"65cb9fda.d387","type":"exec","z":"ebcb4cdd.31608","command":" sudo git clone https://github.com/jimmy232/FirmwareEsp8266.git","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":620,"wires":[[],[],[]]},{"id":"9c68a107.8adb1","type":"inject","z":"ebcb4cdd.31608","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":620,"wires":[["7a3090e1.37694"]]},{"id":"cd395469.66f328","type":"debug","z":"ebcb4cdd.31608","name":"msg.existingFile","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"files","x":1080,"y":340,"wires":[]},{"id":"96857d90.12bb7","type":"fs-ops-dir","z":"ebcb4cdd.31608","name":"","path":"/home/pi/FirmwareEsp8266","pathType":"str","filter":".bin","filterType":"str","dir":"files","dirType":"msg","x":640,"y":40,"wires":[["a6e18d74.2867e","cd395469.66f328"]]},{"id":"365bdadc.9961a6","type":"inject","z":"ebcb4cdd.31608","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"*","payloadType":"str","x":110,"y":540,"wires":[["19207f74.e3f001"]]},{"id":"19207f74.e3f001","type":"mqtt out","z":"ebcb4cdd.31608","name":"","topic":"ProPower-ESP/CMD/UploadFirmware/13436671","qos":"","retain":"","broker":"b10bc66c.1edf38","x":770,"y":540,"wires":[]},{"id":"82bdd1bc.7ff3e","type":"influxdb batch","z":"cf7b58b4.e58cb8","influxdb":"9b2ee3c4.77f26","precision":"","retentionPolicy":"","name":"","x":1090,"y":120,"wires":[]},{"id":"ee665625.d18ec8","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/SSID_Change/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":270,"y":140,"wires":[["21712085.17221"]]},{"id":"446f7d5e.165214","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/SSID_Req/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":260,"y":260,"wires":[["b9c83069.ecf41"]]},{"id":"cf0750ca.4d55f","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/Pwd_Change/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":260,"y":80,"wires":[["e4306af9.2e3c58"]]},{"id":"ac6a084e.5856a8","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/Pwd_Req/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":250,"y":200,"wires":[["48e4c42a.f07c2c"]]},{"id":"21712085.17221","type":"function","z":"10757f53.aa8881","name":"Set SSID","func":"//topics[3] = ClientID\n\nvar topics = msg.topic.split('/');\n\n// Save SSID\nflow.set(\"SSID\", msg.payload);\n\n// Send Confirmation\nmsg.topic = \"ProPower-ESP/STAT/RouterUpdated/Alert/\" + topics[3];\nmsg.payload = \"Router SSID Updated.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[[]]},{"id":"b9c83069.ecf41","type":"function","z":"10757f53.aa8881","name":"Get SSID","func":"msg.payload = flow.get(\"SSID\") || \"null\";\nmsg.topic = msg.topic.replace(\"SSID_Req\", \"SSID_Send\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":260,"wires":[["31b17dee.220ff2"]]},{"id":"e4306af9.2e3c58","type":"function","z":"10757f53.aa8881","name":"Set Pwd","func":"//topics[3] = ClientID\n\nvar topics = msg.topic.split('/');\n\n// Save Password\nflow.set(\"Pwd\", msg.payload);\n\n// Send Confirmation\nmsg.topic = \"ProPower-ESP/STAT/RouterUpdated/Alert/\" + topics[3];\nmsg.payload = \"Router Details Updated.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":80,"wires":[["31b17dee.220ff2"]]},{"id":"48e4c42a.f07c2c","type":"function","z":"10757f53.aa8881","name":"Get Pwd","func":"msg.payload = flow.get(\"Pwd\") || \"null\";\nmsg.topic = msg.topic.replace(\"Pwd_Req\", \"Pwd_Send\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":200,"wires":[["31b17dee.220ff2"]]},{"id":"31b17dee.220ff2","type":"mqtt out","z":"10757f53.aa8881","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":1030,"y":160,"wires":[]},{"id":"e78c3f88.ff006","type":"inject","z":"10757f53.aa8881","name":"SSID_Req","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ProPower-ESP/CMD/SSID_Req/216218","payload":"*","payloadType":"str","x":200,"y":340,"wires":[["880864fc.0c6058"]]},{"id":"880864fc.0c6058","type":"mqtt out","z":"10757f53.aa8881","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":1030,"y":340,"wires":[]},{"id":"1bd936e9.9edbb9","type":"inject","z":"10757f53.aa8881","name":"Pwd_Req","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ProPower-ESP/CMD/Pwd_Req/216218","payload":"*","payloadType":"str","x":200,"y":380,"wires":[["880864fc.0c6058"]]},{"id":"a7c22c68.7eacf","type":"inject","z":"10757f53.aa8881","name":"SSID_Change","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ProPower-ESP/CMD/SSID_Change/216218","payload":"LABORATORY","payloadType":"str","x":210,"y":420,"wires":[["880864fc.0c6058"]]},{"id":"4679c5f5.7e88dc","type":"inject","z":"10757f53.aa8881","name":"Pwd_Change","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ProPower-ESP/CMD/Pwd_Change/216218","payload":"bullshit232","payloadType":"str","x":210,"y":460,"wires":[["880864fc.0c6058"]]},{"id":"b6ad4715.687c78","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/SSID_Default_Change/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":290,"y":560,"wires":[["2cc2aa7e.1037f6"]]},{"id":"1a3d7de6.13c372","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/Pwd_Default_Change/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":290,"y":620,"wires":[["147f4931.958737"]]},{"id":"b2b4783c.957488","type":"exec","z":"10757f53.aa8881","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"raspAP SSID","x":850,"y":560,"wires":[["6d2a5fe4.d438d8"],[],[]]},{"id":"a0e8a611.230698","type":"exec","z":"10757f53.aa8881","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"raspAP passsword","x":870,"y":620,"wires":[["bf212e65.846248"],[],[]]},{"id":"2cc2aa7e.1037f6","type":"function","z":"10757f53.aa8881","name":"raspAP SSID Change","func":"// Replace line 7 with new ssid=xxx\nvar data = \"sudo sed -i '7s/.*/ssid=\" + msg.payload + \"/' /etc/hostapd/hostapd.conf\";\n\n// Assign command to payload\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":560,"wires":[["b2b4783c.957488"]]},{"id":"147f4931.958737","type":"function","z":"10757f53.aa8881","name":"raspAP Password Change","func":"// Replace line 11 with new password=xxx\nvar data = \"sudo sed -i '11s/.*/wpa_passphrase=\" + msg.payload + \"/' /etc/hostapd/hostapd.conf\";\n\n// Assign command to payload\nmsg.payload = data;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":620,"wires":[["a0e8a611.230698"]]},{"id":"e9509bff.e8f258","type":"comment","z":"10757f53.aa8881","name":"User SSID & Password Update","info":"","x":250,"y":40,"wires":[]},{"id":"1920d1b7.39a2ae","type":"comment","z":"10757f53.aa8881","name":"raspAP SSID & Password Update","info":"","x":250,"y":520,"wires":[]},{"id":"be10f8d6.67f7d8","type":"mqtt in","z":"10757f53.aa8881","name":"","topic":"ProPower-ESP/CMD/Reboot/#","qos":"2","datatype":"auto","broker":"b10bc66c.1edf38","x":250,"y":680,"wires":[["bb9e61a2.077df"]]},{"id":"39618a8e.959f96","type":"exec","z":"10757f53.aa8881","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Server Reboot","x":860,"y":680,"wires":[[],[],[]]},{"id":"bb9e61a2.077df","type":"function","z":"10757f53.aa8881","name":"Server Reboot","func":"// Reboot Server\nvar data = \"sudo reboot\";\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":680,"wires":[["39618a8e.959f96"]]},{"id":"23e72483.c94c8c","type":"inject","z":"7d5d6ee4.d04e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"*","payloadType":"str","x":130,"y":120,"wires":[["2a26e01.65ab32"]]},{"id":"2a26e01.65ab32","type":"trigger","z":"7d5d6ee4.d04e3","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2.5","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":370,"y":120,"wires":[["984b6177.989bb"]]},{"id":"984b6177.989bb","type":"rpi-gpio out","z":"7d5d6ee4.d04e3","name":"Heartbeat Server - GPIO21","pin":"40","set":"","level":"0","freq":"","out":"out","x":680,"y":120,"wires":[]},{"id":"14f14f6f.629ff9","type":"debug","z":"cf7b58b4.e58cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"3ac2629f.22f816","type":"exec","z":"10757f53.aa8881","command":"sudo /etc/raspap/hostapd/servicestart.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Restart raspAP Server","x":1320,"y":620,"wires":[[],[],[]]},{"id":"6d2a5fe4.d438d8","type":"function","z":"10757f53.aa8881","name":"Msg Update","func":"//topics[3] = ClientID\nvar topics = msg.topic.split('/');\n\n// Send Confirmation\nmsg.payload = \"Default SSID Updated!\";\nmsg.topic = \"ProPower-ESP/STAT/RouterUpdated/Notify/\" + topics[3];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":560,"wires":[["3ac2629f.22f816","dcca84dd.020048"]]},{"id":"dcca84dd.020048","type":"mqtt out","z":"10757f53.aa8881","name":"","topic":"","qos":"","retain":"","broker":"b10bc66c.1edf38","x":1270,"y":560,"wires":[]},{"id":"bf212e65.846248","type":"function","z":"10757f53.aa8881","name":"Msg Update","func":"//topics[3] = ClientID\nvar topics = msg.topic.split('/');\n\n// Send Confirmation\nvar msg1 = {payload: \"Default Password Updated!\", topic: \"ProPower-ESP/STAT/RouterUpdated/Notify/\" + topics[3]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":620,"wires":[["3ac2629f.22f816","dcca84dd.020048"]]},{"id":"d98678ee.a4e898","type":"function","z":"46dd6a52.8b29d4","name":"Check Timers","func":"/////////////// Splict message into an array ///////////////\n//var data = msg.payload.split(\",\");\n//data[0] = id\n//data[1] = sw\n//data[2] = type\n//data[3] = index\n//data[4] = action\n//data[5] = milliseconds(onTime)\n//data[6] = milliseconds(offTime)\n//data[7] = repeat\n//data[8] = enable\n//data[9] = RoomName/SwitchName\n\nvar timerArray = flow.get(\"timers\") || null\n\nif (timerArray === null) {\n    return\n}\n\nif (Object.keys(timerArray).length === 0) {\n    return\n}\n\nvar currentTime = new Date().getTime();\n\n/////////////// Action Manifold ///////////////\nfor (let [key, value] of Object.entries(timerArray.id)) {\n    let serial = key;\n    \n    // msg.payload = key;\n    // node.send(msg);\n    \n    for (let [key, value] of Object.entries(timerArray.id[serial].index)) {\n\n        actionSelection(value, serial);\n        \n        // msg.payload = value;\n        // node.send(msg);\n    }\n}\n\nfunction actionSelection(value, serial) {\n    if (value.action == \"ON/OFF\" ) {\n        timerList(value, serial);\n    } \n    else if (value.action == \"ON\") {\n    }\n    else if (value.action == \"OFF\" ) {\n        \n    }\n}\n\nfunction timerList(value, serial) {\n    \n    if(value.type == \"LightPro\") {\n        if(value.sw == \"sw1\") {\n            msg.topic = \"ProPower-ESP/CMD/LTA/\" + serial; \n        } else {\n            msg.topic = \"ProPower-ESP/CMD/LTB/\" + serial; \n        }\n    } else {\n        msg.topic = \"ProPower-ESP/CMD/RELAY/\" + serial;\n    }\n\n    if (value.on.trig == \"1\" && checkTime(value.on.time)) {\n        if (value.repeat == \"1\") {\n            value.on.trig = \"1\";\n            value.on.time = DateCalculator(value.on.time); // Add 60 seconds\n            value.on.seconds = String(new Date(value.on.time).getTime());\n            msg.date = value.on.time;\n        } else {\n            value.on.trig = \"0\";\n        }\n        msg.id = value.id;\n        msg.name = value.name;\n        msg.payload = 1;\n        \n        flow.set(\"timers\", timerArray);\n        node.send(msg);\n    } \n    if (value.off.trig == \"1\" && checkTime(value.off.time)) {\n        if (value.repeat == \"1\") {\n            value.off.trig = \"1\";\n            value.off.time = DateCalculator(value.off.time); // Add 60 seconds\n            value.off.seconds = String(new Date(value.off.time).getTime());\n            msg.date = value.off.time;\n        } else {\n            value.on.trig = \"0\";\n        }\n        msg.id = value.id;\n        msg.name = value.name;\n        msg.payload = 0;\n\n        flow.set(\"timers\", timerArray);\n        node.send(msg);\n    } \n}\n\nfunction DateCalculator(time) {\n    //msg.payload = time\n    //return msg\n    var thisTime = new Date(time);\n    \n    thisTime.setHours(thisTime.getHours());\n    thisTime.setMinutes(thisTime.getMinutes());\n    thisTime.setSeconds(0);\n\n    //thisTime.setDate(new Date().getDate() + 1);\n    thisTime.setDate(new Date().getDate())\n    thisTime.setMonth(new Date().getMonth());\n    thisTime.setFullYear(new Date().getFullYear());\n    \n    var milliSeconds = thisTime.getTime() + 86400000;\n    \n    thisTime = new Date(milliSeconds);\n    \n    return thisTime;\n}\n\nfunction checkTime(time) {\n    if (new Date(time).getTime() < new Date().getTime()) {\n        return true\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":180,"wires":[["314491f6.8964fe"]]},{"id":"70e7fcbb.1016f4","type":"inject","z":"46dd6a52.8b29d4","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":250,"y":180,"wires":[["d98678ee.a4e898"]]},{"id":"63811996.5e11b8","type":"comment","z":"46dd6a52.8b29d4","name":"Check Existing Alarms","info":"","x":200,"y":140,"wires":[]},{"id":"592f9895.39b888","type":"function","z":"46dd6a52.8b29d4","name":"Create","func":"/////////////// Splict message into an array ///////////////\nvar data = msg.payload.split(\",\");\n// var data = [];\n// data[0] = \"9020802\"                     //id\n// data[1] = \"sw1\"                         //sw\n// data[2] = \"LightPro\"                    //type\n// data[3] = \"0\"                           //index\n// data[4] = \"On/Off\"                      //action\n// data[5] = \"2020/04/16 19:30\"            //milliseconds(onTime)\n// data[6] = \"2020/04/16 19:32\"            //milliseconds(offTime)\n// data[7] = \"1\"                           //repeat\n// data[8] = \"1\"                           //enable\n// data[9] = \"Master Bedroom/Light\"        //RoomName/SwitchName\n\nlet t1 = new Date(new Date(parseInt(data[5])));\nlet t2 = new Date(new Date(parseInt(data[6])));\n\n// let t1 = new Date(new Date().getTime() + 300000);\n// let t2 = new Date(new Date().getTime() + 30000);\n\nvar timer = flow.get(\"timers.id[\\\"\" + data[0] + \"\\\"].index[\\\"\" + data[3] + \"\\\"]\") || { id: data[0], sw: data[1], type: data[2], index: data[3], action: data[4], on:{trig:data[8], time: t1, seconds: data[6] }, off:{trig:data[8], time: t2, seconds: data[5] }, repeat: data[7], state: data[8], name: data[9] } ; \n\ntimer = { id: data[0], sw: data[1], type: data[2], index: data[3], action: data[4], on:{trig:data[8], time: t1, seconds: data[5] }, off:{trig:data[8], time: t2, seconds: data[6] }, repeat: data[7], state: data[8], name: data[9] } ; \n\nflow.set(\"timers.id[\\\"\" + data[0] + \"\\\"].index[\\\"\" + data[3] + \"\\\"]\", timer);\n","outputs":1,"noerr":0,"x":550,"y":240,"wires":[[]]},{"id":"27cec23b.98ee2e","type":"function","z":"46dd6a52.8b29d4","name":"Delete","func":"/////////////// Splict message into an array ///////////////\nvar data = msg.payload.split(\",\");\nlet id = String(data[0])\nlet sw = data[1]\nlet index = String(data[2])\n\n/////////////// Get Timers ///////////////\nvar timer = flow.get(\"timers\");\n\n/////////////// Get Timer Object ///////////////\ndelete timer.id[id].index[index]\n\n/////////////// Set Timers ///////////////\nflow.set(\"timers\", timer);\n","outputs":1,"noerr":0,"x":550,"y":300,"wires":[[]]},{"id":"61cce23e.f942ec","type":"function","z":"46dd6a52.8b29d4","name":"","func":"/////////////// Get Timers ///////////////\nvar timer = flow.get(\"timers\") ;\n\n/////////////// Get Timer Object ///////////////\nvar obj = timer.id[msg.payload];\nmsg.topic = \"ProPower-ESP/STAT/GetTimers/\" + msg.payload;\n\n/////////////// If Object doesn't exist, send empty object ///////////////\n// if(obj === undefined) {\n//     msg = {payload: {  }, topic: msg.topic};\n//     msg.topic = \"\"\n//     return ;\n// }\n// /////////////// Send Timer Object ///////////////\n// else {\n    var msg1 = { payload: obj, topic: msg.topic };\n\n    return msg1;\n// }","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["c2716448.eb2c58"]]},{"id":"9fdc81b4.1d28d","type":"mqtt in","z":"46dd6a52.8b29d4","name":"","topic":"ProPower-ESP/CMD/setTimer/","qos":"2","datatype":"auto","broker":"f421edcb.a3ce","x":170,"y":240,"wires":[["592f9895.39b888"]]},{"id":"54452155.5636c","type":"mqtt out","z":"46dd6a52.8b29d4","name":"","topic":"","qos":"","retain":"","broker":"f421edcb.a3ce","x":1070,"y":180,"wires":[]},{"id":"314491f6.8964fe","type":"function","z":"46dd6a52.8b29d4","name":"Return Timers","func":"if(msg.payload === 1 || msg.payload === 0) {\n    // Update iOS device timer list\nvar msg1 = { payload: msg.id, topic: \"ProPower-ESP/CMD/GetTimers/\" };\n    // Send Notification to user\nvar msg2 = { payload: msg.id + \",MONICON,\" + msg.name + \",\" + msg.payload, topic: \"ProPower-ESP/STAT/Timers/Alert/\" };\n    // Send Command to Monicon device\nvar msg3 = { payload: msg.payload, topic: msg.topic };\n\nreturn [msg1, msg2, msg3, msg]\n\n}\n\nreturn","outputs":4,"noerr":0,"x":800,"y":180,"wires":[["54452155.5636c"],["54452155.5636c"],["54452155.5636c"],[]]},{"id":"4273f24f.a26ccc","type":"mqtt in","z":"46dd6a52.8b29d4","name":"","topic":"ProPower-ESP/CMD/DeleteTimer/","qos":"2","datatype":"auto","broker":"f421edcb.a3ce","x":160,"y":300,"wires":[["27cec23b.98ee2e"]]},{"id":"16064ccb.4c27a3","type":"mqtt in","z":"46dd6a52.8b29d4","name":"","topic":"ProPower-ESP/CMD/GetTimers/","qos":"2","datatype":"auto","broker":"f421edcb.a3ce","x":170,"y":360,"wires":[["f0219548.b7e248"]]},{"id":"f0219548.b7e248","type":"delay","z":"46dd6a52.8b29d4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":360,"wires":[["61cce23e.f942ec"]]},{"id":"c2716448.eb2c58","type":"json","z":"46dd6a52.8b29d4","name":"","property":"payload","action":"str","pretty":false,"x":790,"y":360,"wires":[["ec7a4dbc.68d0f"]]},{"id":"ec7a4dbc.68d0f","type":"mqtt out","z":"46dd6a52.8b29d4","name":"","topic":"","qos":"","retain":"","broker":"f421edcb.a3ce","x":1070,"y":360,"wires":[]},{"id":"7f57eea3.3a48e","type":"inject","z":"46dd6a52.8b29d4","name":"Trigger","repeat":"3000","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"str","x":240,"y":80,"wires":[["cf826986.f17e58"]]},{"id":"2d57077d.c884c8","type":"comment","z":"46dd6a52.8b29d4","name":"kWh Schedule","info":"","x":230,"y":40,"wires":[]},{"id":"21b5e8e8.489a78","type":"mqtt out","z":"46dd6a52.8b29d4","name":"","topic":"ProPower-ESP/CMD/ResetKWH_Meter/","qos":"","retain":"","broker":"f421edcb.a3ce","x":1180,"y":80,"wires":[]},{"id":"cf826986.f17e58","type":"function","z":"46dd6a52.8b29d4","name":"Reset Daily kWh Meter","func":"var one = false;\nvar two = false;\nvar three = false;\nvar four = false;\nmsg1 = {payload: \"Daily\"}\nmsg2 = {payload: \"Weekly\"}\nmsg3 = {payload: \"Monthly\"}\nmsg4 = {payload: \"Quarterly\"}\n \n var hour = new Date().getHours();\n //hour = hour.setHours(hour.getHours() + 12);\n //hour = new Date(hour);\n //hour = hour.getHours();\n// 0 == Sunday\n var weekNumber = new Date().getDay();\n var dayOfMonth = new Date().getDate() - 1;\n msg.payload = dayOfMonth;\n// 0 == January\n var month = new Date().getMonth();\n// msg.payload = month;\n// return msg;\n\nif (hour === 0) {\n    one = true;\n}\n\nif (one) {\n    return [msg1];\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["21b5e8e8.489a78"]]},{"id":"4fb40143.b83a1","type":"inject","z":"46dd6a52.8b29d4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":560,"wires":[["e210acc4.6af76"]]},{"id":"e210acc4.6af76","type":"function","z":"46dd6a52.8b29d4","name":"","func":"var msg2 = { payload: \"9020802\" + \",MONICON,\" + \"Master Bedroom/Light\" + \",\" + 1, topic: \"ProPower-ESP/STAT/Timers/Alert/\" };\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":560,"wires":[["e0b4069a.4147d8"]]},{"id":"e0b4069a.4147d8","type":"mqtt out","z":"46dd6a52.8b29d4","name":"","topic":"","qos":"","retain":"","broker":"f421edcb.a3ce","x":990,"y":560,"wires":[]},{"id":"8cf19f1d.1d76b","type":"comment","z":"46dd6a52.8b29d4","name":"Test Alert","info":"","x":240,"y":520,"wires":[]},{"id":"5dafb464.76880c","type":"function","z":"46dd6a52.8b29d4","name":"Get Timers","func":"/////////////// Get Timers ///////////////\nvar timer = flow.get(\"timers\");\n\nmsg.payload = timer;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":620,"wires":[["ce2a8bd0.17d598"]]},{"id":"74762b4a.dc5ae4","type":"inject","z":"46dd6a52.8b29d4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":620,"wires":[["5dafb464.76880c"]]},{"id":"ce2a8bd0.17d598","type":"debug","z":"46dd6a52.8b29d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":620,"wires":[]}]